{% load static %}
<!DOCTYPE html>
<html lang="en" style="height: 100%">
<head>
    <meta charset="UTF-8">
    <title>用例</title>
    <link rel="stylesheet" type="text/css" href="{% static 'manager/layui/css/layui.css' %}">
    <style type="text/css">
        .layui-input {
            padding: 0 14px;
            background-color: rgb(252, 252, 252);
            color: black;
        }

        .layui-form-item .layui-form-checkbox[lay-skin="primary"] {
            margin-right: 9px;
        }

        .layui-form-selectup dl {
            top: 42px;
            bottom: unset;
        }
        .layui-disabled, .layui-disabled:hover{
            color: #000 !important;
        }
    </style>

</head>

<body style="height: 100%">
<div style="width: 100%;height: 6%;background:rgba(245,245,246,1);">
    <legend style="position: relative;top:50%;transform:translateY(-50%);padding-left: 30px">
                <span class="layui-breadcrumb">
                    <a href="">用例管理</a>
                    <a href="">用例</a>
                </span>
    </legend>
</div>

<form id='addcase' class="layui-form" style="margin: 14px 30px 0 20px;">
    <div class="layui-form-item" id='weight_item' hidden>
        <label class="layui-form-label">权重</label>
        <div class="layui-input-block">
            <input type="text" name="weight" autocomplete="off" class="layui-input"
                   id='weight' disabled>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label required">执行次数</label>
        <div class="layui-input-block">
            <input type="text" name="count" autocomplete="off" class="layui-input"
                   id='count'>
        </div>

    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">用例名称</label>
        <div class="layui-input-block">
            <input type="text" name="description" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">DB选择</label>
        <div class="layui-input-block">
            <select name="db_id" lay-verify="" lay-search></select>
        </div>
    </div>
    <div class="layui-form-item">
        <button class="layui-btn" id='save' style="visibility:hidden;position: center;width:72px;margin-left:110px;height: 34px;line-height: 34px">保存</button>
    </div>
</form>

</body>


<script src="{% static 'manager/js/jquery.min.js' %}"></script>
<script src="{% static 'manager/layui/layui.js' %}"></script>
<script src="{% static 'manager/js/utils.js' %}"></script>

<script type="text/javascript">


    layui.use(['layer', 'form', 'element'], function () {
        var $ = layui.jquery;
        var layer = layui.layer;
        var form = layui.form;
        uid = _get_query_param('uid');
        pid = _get_query_param('pid');
        id = uid ? uid : pid;
        action = _get_query_param('action');
        detail = 'addcase';
        if (action !== 'view')
            $('#save').css('visibility', 'visible');
        else {
            $('#save').css('visibility', 'hidden');
            $('#weight_item').removeAttr('hidden');

            _set_form_not_editable()
        }
        if (uid) {
            detail = 'editcase';
            _post('/manager/querydblist/', {schemevalue: '', id: uid}, function (res) {
                $("[name='db_id']").empty();
                res = JSON.parse(res);
                if (res.code === 0) {
                    for (var index = 0; index < res.data.length; index++) {
                        $("[name='db_id']").append("<option value='" + res.data[index]['name'] + "'>" + res.data[index]['name'] + "</option>")
                    }
                    console.log('加载数据库信息列表成功');
                    layui.form.render('select');
                    _post('/manager/queryonecase/', {id: uid}, function (data) {
                        description = data.data[0]['description'];
                        //alert(description)
                        $("[name='description']").val(description);
                        $("[name='db_id']").val(data.data[0]['db_id']);
                        layui.form.render('select');
                        $("[name='weight']").val(data.data[0]['weight']);
                        $("[name='count']").val(data.data[0]['count']);
                    })
                } else {
                    layer.alert('数据库信息查询失败', {icon: 2})
                }
            });
        } else {
            _load_db_dropdownlist('', id)
        }


        //set default
        if (detail === 'addcase')
            $("[name='count']").val(1);

        //save
        btn = $('#save')
        if (btn) btn.bind('click', function (e) {
            data = {
                'uid': uid,
                'pid': pid,
                'action': detail,
                'description': $("[name='description']").val(),
                'dbid': $("[name='db_id']").val(),
                'count': $("[name='count']").val()
            };

            _post('/manager/treecontrol/', data, function (data) {
                if (data.code === 0) {
                    var treeObj = parent.$.fn.zTree.getZTreeObj('case-manager');
                    if (detail === 'addcase') {
                        var node = treeObj.getNodeByParam('id', pid);
                        console.log('addcase=>' + JSON.stringify(data.data));
                        treeObj.addNodes(node, data.data);
                        treeObj.expandNode(node, true)
                    } else {
                        var node = treeObj.getNodeByParam('id', uid);
                        node.name = data.data['name'];
                        treeObj.updateNode(node)
                    }
                    layer.alert(data.msg, {icon: 1, time: 2000})
                } else
                    layer.alert(data.msg, {icon: 2})
            });
            return false;
        });
    });

</script>

</html>
