{% load static %}
<!DOCTYPE html>
<html lang="en" style="height: 100%">
<head>
    <meta charset="UTF-8">
    <script src="{% static 'homepage/vue.js' %}"></script>
    <link rel="stylesheet" href="{% static 'homepage/eleui/theme-chalk/index.css' %}">
    <script src="{% static 'homepage/eleui/index.js' %}"></script>
    <title>导入</title>
    <style type="text/css">
    </style>

</head>
<body style="height: 90%">
<div id="upload" style="height: 90%">
    <el-upload
            style="text-align: center;position: relative;top:40%;transform:translateY(-50%)"
            class="upload-demo"
            name="file_data"
            drag
            action="/manager/upload/"
            :data="uploaddata"
            :limit="1"
            :on-success="uploadsuccess"
            :on-error="uploaderror"
    >
        <i class="el-icon-upload"></i>
        <div class="el-upload__text">将文件拖到此处，或<em>点击上传</em></div>
    </el-upload>
</div>
</body>

<script src="{% static 'manager/js/utils.js' %}"></script>

<script type="text/javascript">
    var app = new Vue({
        el: '#upload',
        data() {
            return {
                uploaddata: {
                    kind: 'dataimport',
                    productid: _get_query_param('pid')
                }
            }
        },
        methods: {
            uploadsuccess(response, file, fileList) {
                response = JSON.parse(response)
                if (response.code == 0) {
                    this.$message({
                        type: 'success',
                        message: response.msg
                    });
                } else {
                    this.$message({
                        type: 'warning',
                        message: response.msg
                    });
                }
            },
            uploaderror(response, file, fileList) {
                this.$message.error('导入异常')
            }
        }
    });
    /**   $("#file-explorer").fileinput({
        'theme': 'explorer-fas',
        'uploadUrl': '/manager/upload/',
        'minFileCount': 1,
        'uploadAsync': false,
        uploadExtraData: function (previewId, index) {   //额外参数的关键点
            var obj = {};
            obj.kind = 'dataimport'
            obj.productid = _get_query_param('pid')
            return obj;
        }
    });


     $('#file-explorer').on('filebatchuploaderror', function (event, data, msg) {
        layer.alert('转换异常[' + msg + ']', {icon: 2})

    });

     $('#file-explorer').on('filebatchuploadsuccess', function (event, data, previewId, index) {
        response = JSON.parse(data.response)

        if (response.code == 0) {
            layer.alert(response.msg, {icon: 1})
        } else {
            layer.alert(response.msg, {icon: 2})
        }
    });

     **/
</script>


</html>
