{% load static %}
<!DOCTYPE html>
<html lang="en" style="height: 100%">
<head>
    <meta charset="UTF-8">
    <title>计划管理</title>
    <link rel="stylesheet" type="text/css" href="{% static 'manager/layui/css/layui.css' %}">
    <style type="text/css">
        .layui-input {
            padding: 0 14px;
            background-color: rgb(252, 252, 252);
        }

        .layui-form-item .layui-form-checkbox[lay-skin="primary"] {
            margin-right: 9px;
        }

        .layui-form-selectup dl {
            top: 42px;
            bottom: unset;
        }
    </style>

</head>


<body style="height: 100%">
<div style="width: 100%;height: 6%;background:rgba(245,245,246,1);">
    <legend style="position: relative;top:50%;transform:translateY(-50%);padding-left: 30px">
                <span class="layui-breadcrumb">
                    <a href="">用例管理</a>
                    <a href="">计划</a>
                </span>
    </legend>
</div>
<form id='addhtml' class="layui-form" lay-filter="addplan" style="margin: 14px 30px 0 20px;">
    <div class="layui-form-item">
        <label class="layui-form-label">计划名称</label>
        <div class="layui-input-block">
            <input type="text" name="description_1" autocomplete="off"
                   class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">类型</label>
        <div class="layui-input-block"
             style="border: 1px solid #e6e6e6;background-color: rgba(252,252,252,1);padding: 0 14px;">
            <input type="radio" name="method" value="手动运行" title="手动" checked lay-filter='run_type'>
            <input type="radio" name="method" value='定时运行' title="定时" lay-filter='run_type'>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">报告通知</label>
        <div class="layui-input-block"
             style="border: 1px solid #e6e6e6;background-color: rgba(252,252,252,1);padding: 0 14px;">
            <input type="checkbox" name="dingding" title="钉钉" id='dingding' lay-skin='primary'>
            <input type="checkbox" name="mail" id='mail' title="邮件" lay-skin="primary">
        </div>
    </div>

    <div class="layui-form-item" id='config-set' hidden>
        <label class="layui-form-label">定时配置</label>
        <div class="layui-input-block">
                        <textarea style="background-color: rgb(252, 252, 252);" type="text" name="config"
                                  placeholder=""
                                  autocomplete="off" class="layui-textarea"></textarea>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">DB方案</label>
        <div class="layui-input-block">
            <select name="scheme" lay-verify="scheme" lay-filter="scheme" lay-search>
                <option value='全局'>全局</option>
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">DB选择</label>
        <div class="layui-input-block">
            <select name="db_id" lay-verify="" lay-filter="db_id" lay-search>
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">运行前执行</label>
        <div class="layui-input-block">
            <input type="text" name="before_plan" autocomplete="off" class="layui-input" placeholder="可以拖动依赖的计划和用例到此处后释放">
        </div>
    </div>
    <div class="layui-form-item">
        <button class="layui-btn" id='save'
                style="visibility:hidden;position: center;width:72px;margin-left:110px;height: 34px;line-height: 34px">
            保存
        </button>
    </div>
</form>
</body>
<script src="{% static 'manager/js/jquery.min.js' %}"></script>
<script src="{% static 'manager/layui/layui.js' %}"></script>
<script src="{% static 'manager/js/utils.js' %}"></script>
<script src="{% static 'manager/js/mytree_1.js' %}"></script>


<script type="text/javascript">

        $(document).ready(function(){
            $("[name='before_plan']").bind("mouseover",function(e){

                try{
                    console.log('mouseover.....')
                    
                    console.log('curNode:'+localStorage.getItem('curNode'))
                    t=JSON.parse(localStorage.getItem('curNode'))

                    // console.log(t.name)
                    if(t.type=='plan'||t.type=='case'){
                        kind=t.id.split('_')[0]=='plan'?'[计划]':'[用例]'


                        // v=t.name + '@' + t.id.split('_')[0] + '@' + btoa(t.id.split('_')[1]);
                        v1=kind+t.name + '@'+ btoa(t.id.split('_')[1]);
                        
                        $(this).val(v1)
                        localStorage.removeItem("curNode")

                    }
            

                }catch(err){
                    console.warn(err)

                }

            });




            
        });

    _post_nl('/manager/queryDbScheme/', {action: 1}, function (data) {
        if (data.code === 0) {
            d = data.data;
            for (var index = 1; index < d.length; index++) {
                $("[name='scheme']").append("<option value='" + d[index]['value'] + "'>" + d[index]['value'] + "</option>")
            }
        }
    });
    layui.use(['layer', 'form', 'element'], function () {
        element = layui.element;
        form = layui.form;
        form.render('select');
        uid = _get_query_param('uid');
        pid = _get_query_param('pid');
        action = _get_query_param('action');
        detail = 'addplan';


        form.on('select(scheme)', function () {
            _load_db_dropdownlist($("[name='scheme']").val());
        });

        form.on('radio(run_type)', function (data) {
            if ('定时运行' === data.value) {
                $("#config-set").show()
            } else {
                $("#config-set").hide()
            }
        });


        if (action !== 'view')
            $('#save').css('visibility', 'visible');
        else {
            $('#save').css('visibility', 'hidden');
            _set_form_not_editable()
        }


        if (uid) {
            _load_db_dropdownlist('', uid);
            detail = 'editplan';
            success = function (data) {
                if (data.cron !== null){
                    cron = data.cron
                    $("[name='config']").val(cron['value']);
                }
                data = data.data[0];
                dbid = data['db_id'];
                scheme = data['schemename'];
                $("[name='db_id']").val(dbid);
                $("[name='scheme']").val(scheme);
                layui.form.render('select');
                run_type = data['run_type'];
                description = data['description'];
                var before_plan = data['before_plan'] === 'None' ? '' : data['before_plan'];
                var v=''
                if(before_plan!=''){
                    a=before_plan.split('@')[0]
                    b=before_plan.split('@')[1]
                    c=before_plan.split('@')[2]
                    kind=a=='plan'?'[计划]':'[用例]'
                    v=kind+a+'@'+c
                }


                $("[name='before_plan']").val(v);
                form.val("addplan", {
                    "mail": data['is_send_mail'] === "open",
                    "dingding": data['is_send_dingding'] === "open"
                });

                $("[value='" + run_type + "']").attr('checked', 'checked');
                layui.form.render('radio');
                if ('定时运行' === run_type) {
                    $("#config-set").show()
                } else {
                    $("#config-set").hide()
                }
                $("[name='description_1']").val(description);
            };
            _post('/manager/queryoneplan/', {id: uid}, success)
        } else {
            _load_db_dropdownlist('全局');
        }


        //save
        btn = $('#save')
        if (btn) btn.bind('click', function () {

            description = $("[name='description_1']").val();
            if (description.indexOf('__') !== -1) {
                alert("计划名中不能有‘__’");
                return false
            }
       
            before_plan_old = $("[name='before_plan']").val()
            console.log(before_plan_old)
            before_plan=''
            if(before_plan_old!=''){
                node_type=before_plan_old.split('[')[1].split(']')[0]
                node_class=node_type=='计划'?'plan':'case'
                before_plan_name=before_plan_old.split(']')[1].split('@')[0]
                before_plan_uid=before_plan_old.split(']')[1].split('@')[1]
                before_plan=before_plan_name+'@'+node_class+'@'+before_plan_uid
            }

            //alert(before_plan)

            // return;

            if (before_plan !== '' && before_plan.search('@') === -1) {
                layer.msg('任务可能错误')
                return false
            }
            var cronconfig =  $("[name='config']").val()
            var run_type = $("[name='method']:checked").val()
            if(run_type==='定时运行' && cronconfig.split(' ').length!==4){
                console.log(cronconfig.split(' '))
                layer.msg('时间格式错误')
                return false
            }

            _post('/manager/treecontrol/', {
                'uid': uid,
                'pid': pid,
                'action': detail,
                'description': description,
                'run_type': run_type,
                'config': cronconfig,
                'dbid': $("[name='db_id']").val(),
                'is_send_dingding': $("[name='dingding']").is(':checked'),
                'is_send_mail': $("[name='mail']").is(':checked'),
                'scheme': $("[name='scheme']").val(),
                'before_plan': before_plan

            }, function (e) {
                if (e.code === 0) {
                    // console.log(window)
                    var treeObj = parent.$.fn.zTree.getZTreeObj('case-manager');
                    console.log('name=>', e.data);
                    if (detail === 'addplan') {
                        var node = treeObj.getNodeByParam('id', pid);
                        console.log('addplan=>' + JSON.stringify(e.data));
                        treeObj.addNodes(node, e.data);
                        treeObj.expandNode(node, true)
                    } else {
                        var node = treeObj.getNodeByParam('id', uid);
                        // console.log('search tid '+utid+'=>'+node)
                        node.name = e.data['name'];
                        treeObj.updateNode(node)
                    }
                    layer.alert(e.msg, {icon: 1, time: 10000})
                } else
                    layer.alert(e.msg, {icon: 2})
            });
            return false
        });
    });


</script>


</html>
