
{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>计划管理</title>
    <link rel="stylesheet" type="text/css" href="{% static 'manager/bootstrap/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" crossorigin="anonymous">
    <link href="{% static 'manager/bootstrap-fileinput-master/css/fileinput.css'%}" media="all" rel="stylesheet" type="text/css"/>
    <link href="{% static 'manager/bootstrap-fileinput-master/themes/explorer-fas/theme.css'%}" media="all" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" type="text/css" href="{% static 'manager/layui/css/layui.css' %}">
    <style type="text/css">
      .layui-icon:hover{
        cursor: pointer;

      }
      .icon-tool{
        float: right;

      }
      .icon-tool-item:hover{
        cursor: pointer;
      }
      .icon-tool-item{
        margin-left: 5px;
      }

      #case-selected p{
        height: 30px;
        padding: 0;
       /* text-overflow: ellipsis;*/
   /*     max-width:200px;*/
      }
      #can-select p:hover{
        background-color: #009688;
        color: white;

      }
      #is-selected p:hover{
        background-color: #009688;
        color:white;

      }
      .func_btn{

        font-size: 10px;
        margin:5px;
      }
      .func_btn:hover{

        cursor: pointer;
        color:#009688;
        font-weight:10px;
      }
      .func_btn_bar{
        
/*        background-color: red;*/
      }

    </style>

</head>
<body>

<div id='selecttaskid' class="layui-form" style="padding-top: 10px;padding-bottom:50px;padding-right:20px;" hidden>
  <label class="layui-form-label">任务</label>
  <div id='taskids' class="layui-input-block" style="max-height:100px;">
    <p><input type="radio" name="taskid" value="taskid_1" title="taskid_1"  lay-filter='' checked ></p>
    <p><input type="radio" name="taskid" value="taskid_2" title="taskid_2"  lay-filter=''></p>
  </div>

</div>
  <span class="layui-breadcrumb">
    <a href="">用例管理</a>
    <a href="">计划</a>

  </span>

<form id='addhtml'class="layui-form" style="padding:10px;">

  <div class="layui-form-item">
    <label class="layui-form-label">类型</label>
    <div class="layui-input-block">
      <input type="radio" name="method" value="手动运行" title="手动" checked lay-filter='run_type'>
      <input type="radio" name="method" value='定时运行' title="定时" lay-filter='run_type'>
    </div>
  </div>

  <div class="layui-form-item">
    <label class="layui-form-label">计划名称</label>
    <div class="layui-input-block">
      <input type="text" name="description_1" placeholder="请输入" autocomplete="off" class="layui-input">
    </div>
  </div>

  <div class="layui-form-item" id='config-set' hidden>
    <label class="layui-form-label">定时配置</label>
    <div class="layui-input-block">
      <textarea type="text" name="config" placeholder="{'year':'','month':'','day':'','hour':'','minute':'','second':''}" autocomplete="off" class="layui-textarea"></textarea> 
    </div>
  </div>

  <div class="layui-form-item">
    <label class="layui-form-label">DB选择</label>
      <div class="layui-input-block">
      <select name="db_id" lay-verify="">
<!--         <option>11</option>
        <option>22</option> -->
      </select></div>
  </div>
  <button class="layui-btn" id='save' style="visibility:hidden;">保存</button>
</form>



</body>
<script src="{% static 'manager/js/jquery.min.js' %}"></script>
<script src="{% static 'manager/layui/layui.js' %}"></script>
<script src="{% static 'manager/js/utils.js' %}"></script>
<script src="{% static 'manager/js/plan.js' %}"></script>
<!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script src="{% static 'manager/bootstrap-fileinput-master/js/plugins/piexif.js' %}"></script>
<script src="{% static 'manager/bootstrap-fileinput-master/js/plugins/sortable.js' %}"></script>
<script src="{% static 'manager/bootstrap-fileinput-master/js/fileinput.js' %}"></script>
<script src="{% static 'manager/bootstrap-fileinput-master/js/locales/fr.js' %}"></script>
<script src="{% static 'manager/bootstrap-fileinput-master/js/locales/es.js' %}"></script>
<script src="{% static 'manager/bootstrap-fileinput-master/themes/fas/theme.js' %}"></script>
<script src="{% static 'manager/bootstrap-fileinput-master/themes/explorer-fas/theme.js' %}"></script> -->
<script type="text/javascript">
  _load_db_dropdownlist()
  layui.use(['layer','form','element'], function(){
    element=layui.element
    form=layui.form
    form.render('select')
    uid=_get_query_param('uid')
    utid=_get_query_param('utid')
    pid=_get_query_param('pid')
    ptid=_get_query_param('ptid')
    action=_get_query_param('action')
    // console.log('action=>'+action)
    detail='addplan'

    if(action!='view')
      $('#save').css('visibility','visible')
    else
      $('#save').css('visibility','hidden')
    if(uid){
      //console.log('编辑计划=>'+uid)
      detail='editplan'
      success=function(data){
         data=data.data[0]
          //设置addhtml
          run_type=data['run_type']
          description=data['description']
          dbid=data['db_id']

          $("[name='db_id']").val(dbid)
          layui.form.render('select')
          //alert(description)

          //alert(run_type)

          $("[value='"+run_type+"']").attr('checked','checked')
          layui.form.render('radio');

          if('定时运行'==run_type){
            $("#config-set").show()
          }else
          {
            $("#config-set").hide()
          }

          // alert(description)
          $("[name='description_1']").val(description)


      }
      _post('/manager/queryoneplan/',{id:uid},success)
    };

    //save
    btn=$('#save')
    if(btn)btn.bind('click',function(){

   
      url='/manager/treecontrol/'
      // alert(detail)
      data={
        'uid':uid,
        'pid':pid,
        'action':detail,
        'description':$("[name='description_1']").val(),
        'run_type':$("[name='method']:checked").val(),
        'config':$("[name='config']").val(),
        'dbid':$("[name='db_id']").val()

      }

      _post(url,data,function(e){
        if(e.code==0){
          // console.log(window)
            var treeObj = parent.$.fn.zTree.getZTreeObj('case-manager');
            console.log('name=>',e.data)
            if(detail=='addplan'){
              var node = treeObj.getNodeByParam('id',pid); 
              console.log('addplan=>'+JSON.stringify(e.data)) 
              treeObj.addNodes(node,e.data);
              treeObj.expandNode(node,true)

            }else{
              var node = treeObj.getNodeByParam('id',uid);
              console.log('search tid '+utid+'=>'+node)
              node.name=e.data['name']
              treeObj.updateNode(node)

            }

          
          layer.alert(e.msg,{icon:1,time:2000})
        }
        else
          layer.alert(e.msg,{icon:2})
        

      });

      return false


    });
  });
  


</script>


</html>
