{% load static %}
<!DOCTYPE html>
<html lang="en" style="height: 100%">
<head>
    <meta charset="UTF-8">
    <title>项目统计分析</title>
</head>
<script src="{% static 'homepage/vue.js' %}"></script>
<link rel="stylesheet" href="{% static 'homepage/eleui/theme-chalk/index.css' %}">

<link rel="stylesheet" href="{% static 'homepage/layui/css/layui.css' %}" media="all">
<script src="{% static 'homepage/eleui/index.js' %}"></script>
<script src="{% static 'manager/js/utils.js' %}" charset="utf-8"></script>
<script src="{% static 'homepage/layui/layui.js' %}" charset="utf-8"></script>
<script src="{% static 'manager/js/jquery.min.js' %}"></script>
<script src="{% static 'homepage/echarts.common.min.js' %}" charset="utf-8"></script>
<script src="{% static 'homepage/echartsTheme.js' %}" charset="utf-8"></script>
<link rel="stylesheet" type="text/css" href="{% static 'manager/icomoon/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'manager/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<link href="{% static 'manager/bootstrap-fileinput-master/themes/explorer-fas/theme.css' %}" media="all"
      rel="stylesheet" type="text/css"/>

<style>
    .el-tabs__content {
        height: 100%;
        padding: 20px;
    }

    .el-row {
        margin-bottom: 20px;

    &
    :last-child {
        margin-bottom: 0;
    }

    }
    .el-col {
        border-radius: 4px;
    }

    .bg-purple-dark {
        background: #99a9bf;
    }

    .bg-purple {
        background: #d3dce6;
    }

    .bg-purple-light {
        background: #e5e9f2;
    }

    .grid-content {
        border-radius: 4px;
        min-height: 36px;
    }

    .row-bg {
        padding: 10px 0;
        background-color: #f9fafc;
    }

    .el-tab-pane {
        height: 100%;
    }

    .el-table {
        cursor: pointer;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }

    .el-tag.el-tag--success {
        background-color: #ff7b7b;
        color: #0b0202;
    }

    .el-drawer__header {
        display: none;
    }

    .el-drawer {
        overflow: auto;
        font-size: 14px;
        font-family: PingFang-SC-Regular, PingFang-SC;
        font-weight: 400;
        color: rgba(51, 51, 51, 1);
        line-height: 20px;
    }
</style>

<body>

<div id="analysis" style="height: 100%">
    <template>

        <el-tabs :tab-position="tabPosition" style="height: 100%;">
            <el-tab-pane>
                <span slot="label"><i class="el-icon-date"></i> 用例</span>
                <!--
								<el-row :gutter="20">
									<el-col :span="12">
										<el-row :gutter="20">
											<el-col :span="12">
												<div class="grid-content bg-purple">
													最新一次任务状态<br>时间${reportdata.reporttime}<br>运行环境
												</div>
											</el-col>
											<el-col :span="12">
												<div class="grid-content bg-purple">
													<div id="planlaststate" style="width: 100%;height: 100%;max-height:200px"></div>
												</div>
											</el-col>
										</el-row>
									</el-col>
									<el-col :span="12">
										<div class="grid-content bg-purple">趋势</div>
									</el-col>
								</el-row>-->
                <el-row :gutter="20">
                    <el-col :span="24">
                        <div class="grid-content bg-purple">
                            <el-table
                                    lazy
                                    @row-click="clickTable"
                                    ref="refTable"
                                    :load="load"
                                    row-key="id"
                                    :tree-props="{children: 'children', hasChildren: 'hasChildren'}"
                                    :data="casesdata"
                                    style="width: 100%">
                                <el-table-column label="用例">
                                    <template slot-scope="scope">
                                        <i :class=scope.row.icon></i>
                                        <span style="margin-left: 10px">${ scope.row.name }</span>
                                    </template>
                                </el-table-column>
                                <el-table-column label="成功率">
                                    <template slot-scope="scope">
                                        <el-popover trigger="hover" placement="top">
                                            <p>成功: ${ scope.row.success }</p>
                                            <p>总数: ${ scope.row.total }</p>
                                            <div slot="reference" class="name-wrapper">
                                                <el-progress :text-inside="true" :stroke-width="24"
                                                             :percentage="scope.row.case_success_rate"
                                                             status="success"
                                                             :style="{display:(scope.row.type=='business' || scope.row.state==='omit'|| scope.row.state==='zerocount'?'none':'block')}"></el-progress>
                                            </div>
                                        </el-popover>

                                        <div slot="reference" class="name-wrapper">
                                            <el-tag :style="{display:(scope.row.type=='business'?'inline-block':'none')}">
                                                ${ scope.row.state }
                                            </el-tag>
                                        </div>
                                    </template>
                                </el-table-column>
                            </el-table>
                        </div>
                    </el-col>

                </el-row>
            </el-tab-pane>
            <el-tab-pane label="接口">接口</el-tab-pane>
        </el-tabs>


        <el-drawer
                :visible.sync="drawer"
                direction="rtl"
                size="70%">
            <div style="padding: 10px" v-html="bussinfo"></div>
        </el-drawer>


    </template>
</div>

</body>


<script>
    var app = new Vue({
        el: '#analysis',
        delimiters: ['${', '}'],
        data() {
            return {
                drawer: false,
                direction: 'rtl',
                planid: '',
                casesdata: [],
                reportdata: '',
                activeName: 'first',
                tabPosition: 'left',
                bussinfo: '',
                jacocoRepConfig: {
                    series: [
                        {
                            color: ['rgba(77,201,122,1)', 'rgba(242,242,242,1)'],
                            type: 'pie',
                            radius: ['85%', '95%'],
                            center: ["32%", "50%"],
                            hoverAnimation: false,
                            label: {
                                normal: {
                                    show: true,
                                    position: 'center',
                                    textStyle: {
                                        fontSize: '16',
                                        fontFamily: 'PingFang-SC-Medium,PingFang-SC',
                                        fontWeight: '500',
                                        color: 'rgba(51,51,51,1)'
                                    },
                                },
                            },
                            data: [
                                {value: 1, name: '%'},
                                {value: 100 - 1}
                            ]
                        }
                    ]
                },
                taskid: ''
            };
        },
        methods: {
            clickTable(row, index, e) {
                if (row.type == 'business' && row.state != 'skip') {
                    _post_nl('/homepage/geterrorinfo/', {
                        id: row.id,
                        'taskid': app.taskid,
                        'state': row.state,
                        'name': row.name
                    }, function (data) {
                        app.bussinfo = data.data
                    })
                    this.drawer = true
                } else {
                    this.$refs.refTable.store.loadOrToggle(row)
                }
            },
            load(tree, treeNode, resolve) {
                console.log(tree.type);
                if (tree.type == 'case') {
                    _post_nl('/homepage/getnodes/', {
                        nodeid: tree.id,
                        kind: tree.type,
                        taskid: app.taskid
                    }, function (data) {
                        resolve(data.data)
                    });
                } else if (tree.type == 'step') {
                    _post_nl('/homepage/getnodes/', {
                        nodeid: tree.id,
                        kind: tree.type,
                        taskid: app.taskid
                    }, function (data) {
                        resolve(data.data)
                    });
                }
            }
        },
        created: function () {
            planid = window.location.search.split("?plan=")[1];
            this.planid = planid
            _post_nl('/homepage/gettaskidplan/', {planid: planid}, function (data) {
                app.taskid = data.taskid
                _post_nl('/homepage/getplandata/', {taskid: data.taskid, planid: planid}, function (res) {
                    app.casesdata = res.casesdata
                })
            })

        },

    });
    planlaststate = echarts.init(document.getElementById('planlaststate'), 'me2');
    planlaststate.setOption(app.jacocoRepConfig)


</script>
</html>