{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>首页二</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="{% static 'homepage/layui/css/layui.css' %}" media="all">
</head>
<body>


    <div class="layui-card" style="height: 100%;width: 25%">
        <div class="layui-card-header">
            <div class="layui-row">
                <form class="layui-form" action="">
                    <div class="layui-form-item">
                        <div class="layui-input-inline" style="width: 38%">
                           <select id='product' name="product" lay-filter="product" lay-verify="required" lay-search>
                            <option value=''>选择项目</option>
                          </select>
                        </div>
                        <div class="layui-input-inline" style="width: 50%">
                           <select name="plan" lay-filter="plan" lay-verify="required" lay-search>
                            <option value=''>选择计划</option>
                          </select>
                        </div>
                      </div>
                </form>
            </div>
        </div>
        <div class="layui-card-body">
            <div class="layui-row layui-col-space10 layuimini-qiuck">
                <div class="layui-col-xs6 layuimini-qiuck-module">
                    <i id='runplan' class="layui-icon layui-icon-play" style="margin:30% 30%;font-size: 30px; color: #1E9FFF;"></i>
                </div>
                <div class="layui-col-xs6 layuimini-qiuck-module">
                    <i id='setplan' class="layui-icon layui-icon-set" style="margin:30% 30%;font-size: 30px; color: #1E9FFF;"></i>
                </div>
                <div class="layui-col-xs6 layuimini-qiuck-module">
                    <i id='editplan' class="layui-icon layui-icon-code-circle" style="margin:30% 30%;font-size: 30px; color: #1E9FFF;"></i>
                </div>
                <div class="layui-col-xs6 layuimini-qiuck-module">
                    <i id='repoetplan' class="layui-icon layui-icon-chart-screen" style="margin:30% 30%;font-size: 30px; color: #1E9FFF;"></i>
                </div>
            </div>

        </div>
    </div>



            <form id='addhtml' hidden style="padding:10px;">
          <div class="layui-form-item">
            <label class="layui-form-label">jenkins地址</label>
            <div class="layui-input-block">
              <input type="text" name="jenkinsurl" placeholder="请输入jenkins地址，类似：http://10.60.44.54:9999" autocomplete="off" class="layui-input">
            </div>
          </div>
          <div class="layui-form-item">
            <label class="layui-form-label">job名称</label>
            <div class="layui-input-block">
              <input type="text" name="jobname" placeholder="请输入" autocomplete="off" class="layui-input">
            </div>
          </div>
              <div class="layui-form-item">
            <label class="layui-form-label">服务名称</label>
            <div class="layui-input-block">
              <input type="text" name="servicename" placeholder="请输入" autocomplete="off" class="layui-input">
            </div>
          </div>
        </form>


<script src="{% static 'homepage/layui/layui.js' %}" charset="utf-8"></script>
<script src="{% static 'homepage/layui/lay-config.js' %}" charset="utf-8"></script>
<script>
    layui.use(['common','form','jquery','layer'], function () {
        var common = layui.common;
        var $=layui.jquery;
        var form=layui.form;
        var layer=layui.layer;

        common.ajax('/homepage/queryproduct/','post','json',{},
            function (data) {
                console.log('项目名称=>'+data)
                data=JSON.parse(data)
                data=data.data
                console.log(data)
                for(var index=0;index<data.length;index++){
                    $("[name='product']").append("<option value='"+data[index]['id']+"'>"+data[index]['description']+"</option>")
                }
                layui.form.render('select')
            }
        );


    form.on('select(product)', function(data){
        var id= $("[name='product']").val()
            common.ajax('/homepage/queryplan/','post','json',{
            'id':id
            },function (data) {
                data=JSON.parse(data)
                if(data.code!='0'){
                    $("[name='plan']").empty()
                    $("[name='plan']").append("<option value=''>选择计划</option>")
                    layui.form.render('select')
                }else{
                    data=data.data
                    $("[name='plan']").empty()
                    for(var index=0;index<data.length;index++){
                        $("[name='plan']").append("<option value='"+data[index]['id']+"'>"+data[index]['name']+"</option>")
                    }
                    if(data.length=='0'){
                        $("[name='plan']").append("<option value=''>该项目下没有计划</option>")
                    }
                layui.form.render('select')
                }
            }
            )
    });




    $('#runplan').click(function () {
        var planid = $("[name='plan']").val().substr(5)
        if(planid == ''){
            layer.msg("请选择项目和计划！")
        }else{
            common.ajax('/manager/runplan','post','json',{ids:planid},
            function (data) {
                data=JSON.parse(data)
                if(data.code==0){
                    var mes ="你的任务正在运行中..."
                    layer.msg(mes, {
                        time: 30000, //20s后自动关闭
                        shade: 0.2,
                        shadeClose  :true,
                        btn: ['火速围观', '残忍拒绝'],
                        yes: function(index, layero){
                            window.top.document.getElementById("console").click()
                            layer.close(index)
                        }
                    });

                }
            })
        }
    })


    $('#editplan').click(function () {
        var planid = $("[name='plan']").val().substr(5)
        if(planid == ''){
            layer.msg("请选择项目和计划！")
        }else {
            window.top.document.getElementById("tree-link").click()
        }
    });//没啥用



    $('#setplan').click(
        function () {
            var planid = $("[name='plan']").val().substr(5)
            if(planid == ''){
                layer.msg("请选择项目和计划！")
            }else {
                layui.form.render()
                layer.open({
                    type: 1,
                    title: "jenkins配置",
                    content: $('#addhtml'),
                    area: ['600px', '300px'],
                    offset: 'auto',
                    closeBtn: 2,
                    shade: [0.1, '#393D49'],
                    shadeClose: true,
                    btn: ['我还没做好', '取消'],
                    yes: function (index, layero) {
                        common.ajax('/homepage/jenkinsadd/', 'post', 'json', {
                            'product': $("[name='product']").val(),
                            'jenkinsurl': $("[name='jenkinsurl']").val(),
                            'jobname': $("[name='jobname']").val(),
                            'servicename': $("[name='servicename']").val()
                        }, function (res) {
                            res = JSON.parse(res)
                            if (res.code == 0) {
                                layer.alert(e.msg, {icon: 1, time: 3000})
                            } else {
                                layer.alert(e.msg, {icon: 5, time: 3000})
                            }
                        })
                    },
                    btn2: function (index, layero) {
                        layer.close(index)
                    },
                    cancel: function (index, layero) {
                        layer.close(index)
                    }
                })
            }
        }
    );


    $('#repoetplan').click(function () {
        var id = $("[name='plan']").val().substr(5)
        var planid = $("[name='plan']").val().substr(5)
            if(planid == ''){
                layer.msg("请选择项目和计划！")
            }else {
                common.ajax('/homepage/querytaskid/', 'post', 'json', {
                    'planid': id
                }, function (data) {
                    data = JSON.parse(data)
                    taskid = data.data
                    console.log(taskid)
                    if (taskid === undefined) {
                        layer.msg('任务还没有运行过!');
                    } else {
                        var resulturl = '/manager/querytaskdetail/?taskid=' + taskid
                       //window.open(resulturl)
                        layer.open({
                            type: 2,
                            title: false,
                            shade: [0],
                            area: ['1080px', '480px'],
                            anim: 2,
                             shadeClose: true,
                            content: [resulturl, 'yes'], //iframe的url，no代表不显示滚动条
                            });
                    }
                })
            }
    })




    });
</script>
</body>
</html>
