{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>首页</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Access-Control-Allow-Origin" content="*">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="{% static 'homepage/layui/css/layui.css' %}" media="all">
    <link rel="stylesheet" href="{% static 'homepage/layui/css/layuimini.css' %}" media="all">
    <script src="{% static 'manager/js/jquery.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'homepage/layui/css/public.css' %}" media="all">
    <script src="https://gw.alipayobjects.com/os/lib/antv/g2plot/0.11.3/dist/g2plot.js"></script>
    <style>
        .layui-card {
            border: 1px solid #f2f2f2;
            border-radius: 5px;
        }

        .layuimini-qiuck-module {
            text-align: center;
            margin-top: 10px
        }

        .layui-tab-title li {
            min-width: 0;
        }

        .layuimini-qiuck-module a i {
            display: inline-block;
            width: 100%;
            height: 60px;
            line-height: 60px;
            text-align: center;
            border-radius: 2px;
            font-size: 30px;
            background-color: #F8F8F8;
            color: #333;
            transition: all .3s;
            -webkit-transition: all .3s;
        }

        .layuimini-qiuck-module a cite {
            position: relative;
            top: 2px;
            display: block;
            color: #666;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            font-size: 14px;
        }

        .welcome-module {
            width: 100%;
            height: 210px;
        }

    </style>
</head>

<style>
    .layui-tab-title {
        border-bottom: none;
    }

    /* 重置 - 去掉下划线 */
    .layui-tab-title .layui-this {
        background: #81ffd9;
    }

    /* 增加背景 */
    .layui-tab-title .layui-this:after {
        border: none;
    }

    /* 重置 -this无边框 */
    .layui-tab-title li {
        display: list-item;
    }

    /* 重置 -纵向显示 */
</style>


<body>
<!--<div class="layuimini-container">-->
<div class="layuimini-main">


    <div class="layui-row layui-col-space15">
        <div class="layui-col-xs12 layui-col-md3">
            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-header" style="padding: 0 0">
                        <form class="layui-form" action="">
                            <div class="layui-form-item" style="margin-bottom: 0">
                                <div class="layui-input-inline" style="width: 40%;margin-right: 5%">
                                    <select id='product' name="product" lay-filter="product"
                                            lay-verify="required" lay-search>
                                        <option value=''>选择项目</option>
                                    </select>
                                </div>
                                <div class="layui-input-inline" style="width: 55%;margin-right: 0px">
                                    <select name="plan" lay-filter="plan" lay-verify="required" lay-search>
                                        <option value=''>选择计划</option>
                                    </select>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="layui-card-body">
                        <div class="welcome-module">
                            <div class="layui-row layui-col-space10 layuimini-qiuck">
                                <div class="layui-col-xs4 layuimini-qiuck-module">
                                    <a href="javascript:;" title="这里是验证用例，调试去用例管理！" data-icon="fa fa-window-maximize">
                                        <i id='runplan' class="layui-icon layui-icon-play"></i>
                                        <cite>验证</cite>
                                    </a>
                                </div>
                                <div class="layui-col-xs4 layuimini-qiuck-module">
                                    <a href="javascript:;" data-icon="fa fa-gears">
                                        <i id='setplan' class="layui-icon layui-icon-set"></i>
                                        <cite>项目设置</cite>
                                    </a>
                                </div>
                                <div class="layui-col-xs4 layuimini-qiuck-module">
                                    <a href="javascript:;" data-icon="fa fa-file-text">
                                        <i id='buglog' class="layui-icon layui-icon-survey"></i>
                                        <cite>历史记录</cite>
                                    </a>
                                </div>
                                <div class="layui-col-xs4 layuimini-qiuck-module">
                                    <a href="javascript:;" data-icon="fa fa-dot-circle-o">
                                        <i id='repoetplan' class="layui-icon layui-icon-chart-screen"></i>
                                        <cite>最新报告</cite>
                                    </a>
                                </div>
                                <div class="layui-col-xs4 layuimini-qiuck-module">
                                    <a href="javascript:;" data-icon="fa fa-dot-circle-o">
                                        <i id='sendrepoet' class="layui-icon layui-icon-notice"></i>
                                        <cite>发送报告</cite>
                                    </a>
                                </div>
                                <div class="layui-col-xs4 layuimini-qiuck-module">
                                    <a href="javascript:;" data-icon="fa fa-dot-circle-o">
                                        <i id='process' class="layui-icon layui-icon-log"></i>
                                        <cite>运行日志</cite>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-col-md12">
                <div id="success_rate_count" style="visibility: hidden"></div>
            </div>
        </div>
        <div class="layui-col-xs12 layui-col-md9">
            <div id="echarts-records" style="background-color:#f2f2f2;min-height:400px;padding: 10px;"></div>
        </div>
        <div class="layui-col-xs12 layui-col-md12">
            <table id="demo" lay-filter="test"></table>
        </div>
    </div>

    <div class="layui-collapse " lay-accordion hidden id="settings">
        <div class="layui-tab">
            <ul class="layui-tab-title layui-col-md2 layui-col-sm2" style="height:100%;">
                <li class="layui-this">报告通知配置</li>
                <li>jacoco配置</li>
            </ul>
            <div class="layui-tab-content  layui-col-md10" style="padding:0 15px 0 15px;">
                <div class="layui-tab-item layui-show">
                    <div class="layui-col-md12">
                        <form id='mailconfig' class="layui-form layui-form-pane" role="form-group"
                              style="display: inherit;margin-top: 20px;margin-left: 20px" id="tb">
                            <div class="layui-form-item">
                                <label class="layui-form-label" style="width: 100%">邮件通知</label>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">配色方案</label>
                                <div class="layui-input-block">
                                    <select name="color_scheme" lay-verify="">
                                        <option value="">请选择</option>
                                        <option value="blue">blue</option>
                                        <option value="red">red</option>
                                    </select>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">收件人</label>
                                <div class="layui-input-block">
                                    <input type="text" class="layui-input" name="to_receive" value="" title="" checked
                                           lay-filter='' placeholder="多收件人请用“,”分割">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">标题</label>
                                <div class="layui-input-block">
                                    <input type="text" class="layui-input" name="description" value='' title="" checked
                                           lay-filter=''>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label" style="width: 100%">钉钉通知</label>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">钉钉群token</label>
                                <div class="layui-input-block">
                                    <input type="text" name="dingdingtoken" required lay-verify="required"
                                           placeholder="请输入token" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="layui-tab-item">
                    <div class="layui-col-md12">
                        <div class="layui-form-item">
                            <form class="layui-form layui-form-pane" role="form-group"
                                  style="display: inherit;margin-top: 20px;margin-left: 20px" id="tb">
                                <div class="layui-form-item">
                                    <label class="layui-form-label">jenkins地址</label>
                                    <div class="layui-input-block">
                                        <input type="text" name="jenkinsurl" autocomplete="off"
                                               placeholder="请输入jenkins地址：格式 http://10.60.44.219" class="layui-input">
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <div class="layui-inline" style="width: 49%;margin-right:0.1rem">
                                        <label class="layui-form-label required">用户名</label>
                                        <div class="layui-input-block">
                                            <input type="text" name="authname" placeholder="请输入用户名" autocomplete="off"
                                                   class="layui-input"
                                                   lay-verify="required">
                                        </div>
                                    </div>
                                    <div class="layui-inline" style="width: 49%;margin-right:0">
                                        <label class="layui-form-label required">密码</label>
                                        <div class="layui-input-block">
                                            <input type="text" name="authpwd" placeholder="请输入密码" autocomplete="off"
                                                   class="layui-input"
                                                   id='count'>
                                        </div>
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label class="layui-form-label" style="width: 100%">服务名称（描述）和任务名</label>
                                </div>
                                <div class="layui-form-item">
                                    <div class="layui-input-block" style="margin-left: 0">
                                        <textarea name="jobname" id='jobname' placeholder='填入内容为描述（或者说是服务名称）和jenkins中对应的任务名，格式示例：
settlesys:tfp-cmbc-mysql-uat-settlesys;thirdsys:tfp-cmbc-mysql-uat-thirdsys'
                                                  autocomplete="off" class="layui-textarea" lay-verify="required"
                                                  style="min-height:150px!important;"></textarea>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="seeprocess" hidden>
        <div class="layui-table">
            <div class="layui-card-body">
                <div id="log_text"></div>
            </div>
        </div>
    </div>


    <div id="oldbug" hidden class="layui-row" style="height: 100%;">
        <div class="layui-tab">
            <ul class="layui-tab-title layui-col-md1 layui-col-sm2" style="height:100%;">
                <li class="layui-this">历史缺陷</li>
                <li>历史日志</li>
            </ul>
            <div class="layui-tab-content  layui-col-md11" style="padding:0 15px 0 14px;height:100%">
                <div class="layui-tab-item layui-show">
                    <div class="layui-col-md12" style="min-height: 400px">
                        <div class="layui-card" style="margin-bottom:0px">
                            <div class="layui-card-header card">
                                <div class="layui-form-item" style="margin-top:3px">
                                    <div class="layui-inline">
                                        <label class="layui-form-label">日期范围</label>
                                        <div class="layui-input-inline">
                                            <input type="text" class="layui-input" id="demotime" placeholder="请选择时间！">
                                        </div>
                                    </div>
                                    <div class="layui-input-inline" style="width: 30%;margin-right: 0px">
                                        <form class="layui-form" action="">
                                            <select name="plan_log" lay-filter="plan_log" lay-verify="required"
                                                    lay-search>
                                                <option value=''>选择计划</option>
                                            </select>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <table id="oldbugtable" lay-size='sm' lay-filter="oldbugtable"></table>
                    </div>
                </div>
                <div class="layui-tab-item">
                    <div class="layui-col-md12" style="min-height: 400px">
                        <div class="layui-form-item">
                            <form class="layui-form" action="">
                                <div class="layui-input-inline">
                                    <select name="plan_log1" lay-filter="plan_log1" lay-verify="required"
                                            lay-search>
                                        <option value=''>选择计划</option>
                                    </select>
                                </div>
                                <div class="layui-input-inline">
                                    <div class="layui-input-inline">
                                        <input type="text" class="layui-input" id="demotime1" placeholder="请选择时间！">
                                    </div>
                                </div>
                                <div class="layui-input-inline">

                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>


<script src="{% static 'homepage/layui/layui.js' %}" charset="utf-8"></script>
<script src="{% static 'manager/js/utils.js' %}" charset="utf-8"></script>
<script src="{% static 'homepage/layui/lay-config.js' %}" charset="utf-8"></script>
<script src="{% static 'homepage/moment.min.js' %}" charset="utf-8"></script>
<script src="{% static 'homepage/daterangepicker.js' %}" charset="utf-8"></script>
<link rel="stylesheet" type="text/css" href="{% static 'homepage/daterangepicker.css' %}"/>
<script>
    layui.use(['layer', 'echarts', 'common', 'form', 'jquery', 'element', 'layedit', 'table'], function () {
        var $ = layui.jquery,
            layer = layui.layer,
            echarts = layui.echarts;
        var common = layui.common;
        var element = layui.element;
        var form = layui.form;
        var layedit = layui.layedit;
        var le = layedit.build('rich_text'); //建立编辑器
        var table = layui.table;
        var username = $("#username").text()


        $(function () {
            var locale = {
                "format": 'YYYY-MM-DD',
                "separator": " - ",
                "applyLabel": "确定",
                "cancelLabel": "取消",
                "fromLabel": "起始时间",
                "toLabel": "结束时间'",
                "customRangeLabel": "自定义",
                "weekLabel": "W",
                "daysOfWeek": ["日", "一", "二", "三", "四", "五", "六"],
                "monthNames": ["一月", "二月", "三月", "四月", "五月", "六月", "七月", "八月", "九月", "十月", "十一月", "十二月"],
                "firstDay": 1
            };
            $('#demotime').daterangepicker({
                'locale': locale,
                ranges: {
                    '今日': [moment(), moment()],
                    '昨日': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                    '最近7日': [moment().subtract(6, 'days'), moment()],
                    '最近30日': [moment().subtract(29, 'days'), moment()],
                    '本月': [moment().startOf('month'), moment().endOf('month')],
                    '上月': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')],
                    '全部': ['2020-01-01', moment()]
                },
                "alwaysShowCalendars": true,
                "startDate": new Date(),
                "endDate": new Date(),
                "minDate": '2020-01-01',
                "maxDate": new Date(),
                "opens": "right",
            }, function (start, end, label) {
                queryoldbug($("[name='product']").val(), start.format('YYYY-MM-DD') + ' - ' + end.format('YYYY-MM-DD'), $("[name='plan_log']").val());
            });
            $('#demotime1').daterangepicker({
                'locale': locale,
                ranges: {
                    '今日': [moment(), moment()],
                    '昨日': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                    '最近7日': [moment().subtract(6, 'days'), moment()],
                    '最近30日': [moment().subtract(29, 'days'), moment()],
                    '本月': [moment().startOf('month'), moment().endOf('month')],
                    '上月': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')],
                    '全部': ['2020-01-01', moment()]
                },
                "alwaysShowCalendars": true,
                "startDate": new Date(),
                "endDate": new Date(),
                "minDate": '2020-01-01',
                "maxDate": new Date(),
                "opens": "right",
            }, function (start, end, label) {
                queryoldbug($("[name='product']").val(), start.format('YYYY-MM-DD') + ' - ' + end.format('YYYY-MM-DD'), $("[name='plan_log']").val());
            });
        })


        common.ajax('/homepage/queryproduct/', 'post', 'json', {},
            function (data) {
                console.log('项目名称=>' + data)
                data = JSON.parse(data)
                data = data.data
                for (var index = 0; index < data.length; index++) {
                    $("[name='product']").append("<option value='" + data[index]['id'] + "'>" + data[index]['description'] + "</option>")
                }
                layui.form.render('select')
            }
        );

        form.on('select(product)', function () {
            var id = $("[name='product']").val()
            common.ajax('/homepage/queryplan/', 'post', 'json', {
                    'id': id
                }, function (data) {
                    data = JSON.parse(data)
                    if (data.code != '0') {
                        $("[name='plan']").empty()
                        $("[name='plan']").append("<option value=''>选择计划</option>")
                        layui.form.render('select')
                    } else {
                        success_rate_count(data.rate, data.total)
                        data = data.data
                        $("[name='plan']").empty()
                        $("[name='plan_log").empty()
                        $("[name='plan_log']").append("<option value=''>全部计划</option>")
                        if (data.length != 0) {
                            for (var index = 0; index < data.length; index++) {
                                $("[name='plan']").append("<option value='" + data[index]['id'] + "'>" + data[index]['name'] + "</option>")
                                $("[name='plan_log']").append("<option value='" + data[index]['id'] + "'>" + data[index]['name'] + "</option>")
                            }
                        } else {
                            $("[name='plan']").append("<option value=''>该项目下没有计划</option>")
                            $("[name='plan_log']").append("<option value=''>该项目下没有计划</option>")
                        }
                        common.ajax('/homepage/reportchart/', 'post', 'json', {
                            planid: $("[name='plan']").val().substr(5)
                        }, function (result) {
                            result = JSON.parse(result)
                            report(result.data, result.code)
                        })

                        layui.form.render('select')
                        setTimeout(function () {
                            $("#success_rate_count").css('visibility', 'visible')
                        }, 300)
                    }
                }
            )
        });
        $('#runplan').click(function () {
            var planid = $("[name='plan']").val().substr(5)
            if (planid == '') {
                layer.msg("请选择项目和计划！")
            } else {
                common.ajax('/manager/runplan', 'post', 'json', {ids: planid, is_verify: '1'},
                    function (data) {
                        data = JSON.parse(data)
                        if (data.code == 0) {
                            layer.msg(data.msg, {
                                time: 30000, //20s后自动关闭
                                shade: 0.2,
                                shadeClose: true,
                                btn: ['火速围观', '残忍拒绝'],
                                yes: function (index, layero) {
                                    window.top.document.getElementById("console").click()
                                    layer.close(index)
                                }
                            });
                        }else layer.msg(data.msg)
                    })
            }
        })
        $('#buglog').click(function () {
            layer.open({
                type: 1,
                id: "log-bug",
                title: false,
                shade: [0],
                area: ['90%', '90%'],
                anim: 0,
                shadeClose: true,
                content: $("#oldbug"),
                success: function () {
                    setTimeout(function () {
                        queryoldbug($("[name='product']").val(), $('#demotime').val(), $("[name='plan_log']").val());
                    }, 500)
                },
                end: function () {

                }
            });
        })


        function queryoldbug(productid, time, planid) {
            table.render({
                elem: '#oldbugtable'
                , method: 'POST'
                , page: true
                , limit: 10
                , height: 'full-140'
                , url: '/homepage/buglog/' //数据接口
                , where: {productid: productid, time: time, planid: planid}
                , cols: [[ //表头
                    {field: '路径', title: '用例-步骤', width: "20%", align: "left"}
                    , {field: '接口', title: '接口', width: "40%", align: "left"}
                    , {field: '测试点', title: '测试点', width: "13%", align: "left"}
                    , {field: '参数信息', title: '参数信息', width: "15%", align: "left"}
                    , {field: '失败原因', title: '失败原因', width: "15%", align: "left"}
                    , {field: '任务id', title: '任务id', width: "25%", align: "left"}
                ]], text: {
                    none: '该期间无缺陷记录！'
                }
            });
        }

        form.on('select(plan_log)', function () {
            queryoldbug($("[name='product']").val(), $('#demotime').val(), $("[name='plan_log']").val())
        })


        $('#repoetplan').click(function () {
            var planid = $("[name='plan']").val().substr(5)
            if (planid == '') {
                layer.msg("请选择项目和计划！")
            } else {
                common.ajax('/homepage/querytaskid/', 'post', 'json', {
                    'planid': planid
                }, function (data) {
                    data = JSON.parse(data)
                    taskid = data.data
                    if (data.code != 0) {
                        layer.msg(data.msg);
                    } else {
                        var resulturl = '/manager/querytaskdetail/?taskid=' + taskid
                        //window.open(resulturl)
                        layer.open({
                            type: 2,
                            title: false,
                            shade: [0],
                            area: ['90%', '90%'],
                            anim: 2,
                            shadeClose: true,
                            content: [resulturl, 'yes'], //iframe的url，no代表不显示滚动条
                        });
                    }
                })
            }
        })
        $("#process").click(function () {
            var planid = $("[name='plan']").val().substr(5)
            if (planid == '') {
                layer.msg("请选择项目和计划！")
            } else {
                common.ajax('/homepage/querytaskid/', 'post', 'json', {
                    'planid': planid
                }, function (data) {
                    data = JSON.parse(data)
                    taskid = data.data
                    if (data.code != 0) {
                        layer.msg(data.msg);
                    } else {
                        layer.open({
                            type: 1,
                            id: "log-process",
                            title: false,
                            shade: [0],
                            area: ['90%', '90%'],
                            anim: 2,
                            shadeClose: true,
                            content: $("#seeprocess"),
                            success: function () {
                                showlog(taskid)
                            }
                        });
                    }
                })
            }
        })

        function showlog(taskid) {
            $.ajax({
                url: '/homepage/process/',
                type: 'POST',
                dataType: 'json',
                data: {'taskid': taskid},
                success: function (res) {
                    res = JSON.parse(res)
                    var log_text = res.data
                    var is_done = res.msg
                    $("#log_text").html(log_text);
                    var ta = document.getElementById('log-process');
                    ta.scrollTop = ta.scrollHeight;//定位到最后
                    if (is_done != 'yes') {
                        window.setTimeout(showlog(taskid), 500);
                    }
                    return false;
                }
            });
        }

        $("#setplan").click(function () {
            var planid = $("[name='plan']").val().substr(5)
            var productid=$("[name='product']").val()
            if (planid == '') {
                layer.msg("请选择项目和计划！")
            } else {
                layer.open({
                    title: '设置'+'\t【报告通知配置匹配的是选择的任务；jacoco配置匹配的是选择的项目】',
                    type: 1,
                    area: ['800px', '88%'],
                    content: $('#settings'),
                    btn: ['确定', '取消'],
                    success: function () {
                        $("#mailconfig")[0].reset()
                        layui.form.render()
                        //这里把通知配置和jenkins配置放一起完成了
                        common.ajax('/manager/queryonemailconfig/', 'post', 'json', {id: planid,productid:productid}, function (ee) {
                            op = ''
                            if (typeof (ee) != 'string') {
                                if (ee.code == 0) {
                                    op = '编辑'
                                    $("[name='color_scheme']").val(ee.data['color_scheme'])
                                    layui.form.render('select');
                                    $("[name='description']").val(ee.data['description'])
                                    $("[name='to_receive']").val(ee.data['to_receive'])
                                    $("[name='dingdingtoken']").val(ee.data['dingdingtoken'])
                                    $("[name='jenkinsurl']").val(ee.jacocoset['jenkinsurl'])
                                    $("[name='authname']").val(ee.jacocoset['authname'])
                                    $("[name='authpwd']").val(ee.jacocoset['authpwd'])
                                    $("[name='jobname']").val(ee.jacocoset['jobname'])
                                }
                            } else {
                                ee = JSON.parse(ee)
                                if (ee.code == 1) {
                                    op = '新建'
                                }
                            }
                        })
                    },
                    yes: function (index, layero) {
                        success = function (data) {
                            data = JSON.parse(data)
                            if (data.code == 0) {
                                layer.close(index)
                                layer.alert(data.msg, {icon: 1, time: 1500})
                            } else {
                                layer.alert(data.msg, {icon: 2, time: 2000})
                            }
                        }
                        _post("/manager/editmailconfig/", {
                                id: planid,
                                color_scheme: $("[name='color_scheme']").val(),
                                description: $("[name='description']").val(),
                                to_receive: $("[name='to_receive']").val(),
                                dingdingtoken: $("[name='dingdingtoken']").val(),
                                jenkinsurl: $("[name='jenkinsurl']").val(),
                                authname: $("[name='authname']").val(),
                                authpwd: $("[name='authpwd']").val(),
                                jobname: $("[name='jobname']").val(),
                                productid:productid
                            },
                            success
                        )
                    }
                });
            }
        })
        $("#sendrepoet").click(function () {
            common.ajax('/homepage/sendreport/', 'post', 'json', {'planid': $("[name='plan']").val().substr(5)}, function (data) {
                data = JSON.parse(data)
                if (data.code == 0) {
                    layer.alert(data.msg, {icon: 1, time: 1550}, area = ['500px', '300px'])
                } else {
                    layer.alert(data.msg, {icon: 2, time: 1500})
                }
            })
        })


        form.on('select(plan)', function (data) {
                var planid = $("[name='plan']").val().substr(5)
                if (planid == '') {
                    layer.msg("请选择项目和计划！")
                } else {
                    common.ajax('/homepage/reportchart/', 'post', 'json', {
                        planid: $("[name='plan']").val().substr(5)
                    }, function (result) {
                        result = JSON.parse(result)
                        report(result.data, result.code)
                    })
                }
            }
        );
        echartsRecords = echarts.init(document.getElementById('echarts-records'), 'walden');

        function report(data, code) {
            x = [];
            success = [];
            total = [];
            fail = [];
            skip = [];
            error = [];
            success_rate = []
            hundred = [];
            taskids = [];
            if (code == 0) {
                title = data[0][1]
                for (let i = data.length - 1; i >= 0; i--) {
                    x.push(data[i][7])
                    success.push(data[i][2])
                    total.push(data[i][5])
                    fail.push(data[i][3])
                    skip.push(data[i][4])
                    error.push(data[i][9])
                    //mysql  success_rate.push(data[i][8].substr(0, 5))
                    success_rate.push(data[i][8])
                    taskids.push(data[i][6])
                    hundred.push(100)
                }
                totalmax = total.map(function (e) {
                    return Math.max.apply(null, total) + 2
                });
            } else {
                title = data
                totalmax = 1
            }
            var optionRecords = {
                title: {
                    text: title
                },
                animation: false,
                legend: {
                    left: 'center',
                    data: ['成功率', '成功数', '失败数', '错误数', '跳过数',]
                },
                tooltip: {
                    trigger: 'axis',
                    axisPointer: {
                        type: 'cross'
                    },
                    backgroundColor: 'rgba(245, 245, 245, 0.8)',
                    borderWidth: 1,
                    borderColor: '#ccc',
                    padding: 10,
                    textStyle: {
                        color: '#000'
                    },
                    position: function (pos, params, el, elRect, size) {
                        var obj = {top: 10};
                        obj[['left', 'right'][+(pos[0] < size.viewSize[0] / 2)]] = 30;
                        return obj;
                    },
                    extraCssText: 'width: 100px'
                },
                axisPointer: {
                    link: {xAxisIndex: 'all'},
                    label: {
                        backgroundColor: '#777'
                    }
                },
                toolbox: {
                    feature: {
                        dataZoom: {
                            yAxisIndex: false
                        },
                        brush: {
                            type: ['lineX', 'clear']
                        }
                    }
                },
                brush: {
                    xAxisIndex: 'all',
                    brushLink: 'all',
                    outOfBrush: {
                        colorAlpha: 0.1
                    }
                },
                grid: [
                    {
                        left: '5%',
                        right: '5%',
                        height: '48%'
                    },
                    {
                        left: '5%',
                        right: '5%',
                        bottom: '3%',
                        height: '20%'
                    }
                ],
                xAxis: [
                    {
                        type: 'category',
                        data: x,
                        scale: true,
                        boundaryGap: false,
                        axisLine: {onZero: false},
                        splitLine: {show: false},
                        splitNumber: 20,
                        min: 'dataMin',
                        max: 'dataMax',
                        axisPointer: {
                            z: 100
                        }
                    },
                    {
                        type: 'category',
                        gridIndex: 1,
                        data: x,
                        scale: true,
                        boundaryGap: false,
                        axisLine: {onZero: false},
                        axisTick: {show: false},
                        splitLine: {show: false},
                        axisLabel: {show: false},
                        splitNumber: 20,
                        min: 'dataMin',
                        max: 'dataMax',
                        axisPointer: {
                            label: {
                                show: false
                            }
                        },
                    }
                ],
                yAxis: [
                    {
                        scale: true,
                        name: '用例数',
                        splitArea: {
                            show: true
                        },
                        min: 0,
                        max: totalmax[0]
                    },
                    {
                        scale: true,
                        name: '成功率',
                        gridIndex: 1,
                        splitNumber: 2,
                        axisLabel: {show: true, formatter: '{value}%'},
                        axisLine: {show: true},
                        axisTick: {show: false},
                        splitLine: {show: false},
                        min: 0,
                        max: 100,
                        axisPointer: {
                            label: {
                                show: false
                            }
                        },
                    }
                ],

                series: [
                    {
                        name: ' 总数 ',
                        axisPointer: {show: false},
                        type: 'bar',
                        itemStyle: {
                            normal: {
                                color: 'rgba(0,0,0,0)',
                            }
                        },
                        data: totalmax
                    },
                    {
                        name: '成功数',
                        type: 'line',
                        areaStyle: {},
                        stack: '总量',
                        data: success,
                        smooth: true,
                        lineStyle: {
                            normal: {opacity: 0.5}
                        }
                    },
                    {
                        name: '失败数',
                        stack: '总量',
                        areaStyle: {},
                        type: 'line',
                        data: fail,
                        smooth: true,
                        lineStyle: {
                            normal: {opacity: 0.5}
                        }
                    },
                    {
                        name: '跳过数',
                        stack: '总量',
                        areaStyle: {},
                        type: 'line',
                        data: skip,
                        smooth: true,
                        lineStyle: {
                            normal: {opacity: 0.5}
                        }
                    },
                    {
                        name: '错误数',
                        stack: '总量',
                        areaStyle: {},
                        type: 'line',
                        data: error,
                        smooth: true,
                        lineStyle: {
                            normal: {opacity: 0.5}
                        }
                    },
                    {
                        type: 'bar',
                        axisPointer: {show: false},
                        xAxisIndex: 1,
                        itemStyle: {
                            normal: {
                                color: 'rgba(201,155,237,0)',
                            }
                        },
                        yAxisIndex: 1,
                        data: hundred
                    },
                    {
                        name: '成功率',
                        type: 'line',
                        label: {
                            normal: {
                                show: true,
                                position: 'top',
                                color: 'black'
                            }
                        },
                        barWidth: 10,
                        areaStyle: {},
                        xAxisIndex: 1,
                        yAxisIndex: 1,
                        data: success_rate
                    },
                ]
            };
            $("#echarts-records").css('background-color', 'white')
            echartsRecords.setOption(optionRecords);
        }


        echartsRecords.on('click', function (params) {
            taskid = taskids[params.dataIndex]
            table.render({
                elem: '#demo'
                , method: 'POST'
                , url: '/homepage/badresult/' //数据接口
                , where: {taskid: taskid}
                , cols: [[ //表头
                    {field: 'casename', title: '用例名', width: "12%", align: "center"}
                    , {field: 'stepname', title: '步骤名', width: "13%", align: "center"}
                    , {field: 'businessname', title: '测试点', width: "13%", align: "center"}
                    , {field: 'itfcheck', title: '数据验证', width: "13%", align: "center"}
                    , {field: 'dbcheck', title: '接口验证', width: "10%", align: "center"}
                    , {field: 'failresult', title: '失败原因', width: "39%", align: "center"}
                ]], text: {
                    none: '测试全部通过了！'
                }
            });
        });

        // echarts 窗口缩放自适应
        window.onresize = function () {
            echartsRecords.resize();
        }


        function success_rate_count(rate, total) {
            plot.updateConfig({
                "title": {
                    "text": "项目共运行 " + total + " 次,通过率：" + parseFloat(rate) + "%",
                    "visible": true,
                    "style": {'fontSize': '16', 'fontWeight': '10'}
                },
                "width": 300,
                "height": 160,
                "min": 0,
                "max": 100,
                "value": parseFloat(rate),
            })
            plot.render();
        }

        const container = document.getElementById('success_rate_count');
        const data = 332;
        let config = {
            "width": 374,
            "height": 363,
            "min": 0,
            "max": 100,
            "value": 0
        }
        const plot = new g2plot.Liquid(container, {
            data,
            ...config,
        });
        plot.render();

    });
</script>
</body>
</html>
