/.idea/
/__pycache__/
/manager/__pycache__/
/db.sqlite3
/db1.sqlite3
/ME2/__pycache__/
/homepage/migrations/__pycache__/
/manager/migrations/__pycache__/
/tools/__pycache__/
/homepage/__pycache__/
/logs/*.log
/logs/deal/*.log
/login/__pycache__/
/login/migrations/__pycache__/
/local_reports/*.html
/ME2/configs.py
/manager/storage/private/Function/*/__pycache__/
/manager/storage/private/__pycache__/*
/manager/storage/private/Function/*
