{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>ME2_登录</title>
    <link href="{% static 'login/css/login.css' %}" rel="stylesheet">
    <script src="{% static 'manager/js/jquery.min.js' %}"></script>
</head>

<body style="background:rgba(250,250,250,1);">
<div class="box">
    <div style="margin-top: 66px;text-align: center"><img style="margin-left:0px"
                                                          src="{% static 'login/image/logo.svg' %}"></div>
    <div class="boxtext">接口测试</div>
    <div class="userName" style="margin-top: 38px;">
        <img src="{% static 'login/image/people.svg' %}">
        <input id="username" type="text" name="username" placeholder="请输入用户名">
    </div>
    <div class="userPwd" style="margin-top: 19px;">
        <img src="{% static 'login/image/lock.svg' %}">
        <input id="password" type="password" name="password" placeholder="请输入密码">
    </div>
    <button class="login_btn" id="loginbtn">登 录</button>
    <p id="message"></p>
</div>

<script type="text/javascript">
    $(".box").bind("keydown", function (e) {
        // 兼容FF和IE和Opera
        var theEvent = e || window.event;
        var code = theEvent.keyCode || theEvent.which || theEvent.charCode;
        if (code == 13) {
            //回车执行查询
            $("#loginbtn").click();
        }
    });
    $('#loginbtn').click(function () {
        $.ajax({
            type: "POST",
            url: "",
            data: {username: $("#username").val(), password: $("#password").val()},
            dataType: "json",
            success: function (data) {
                if (data.code == 1) {
                    document.getElementById("message").innerHTML = data.msg;
                } else if (data.code == 0) {
                    window.location = "/manager/index/";
                }
            }
        });
    });

    var flag = (top.location == window.location)
    if (!flag)
        top.location.href = window.location.href
</script>
</body>
</html>
