{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>ME2.0_web版本</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Access-Control-Allow-Origin" content="*">
    <meta name="viewport"
          content="width=device-width,height=device-height,initial-scale=0.8, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="icon" href="favicon.ico">
    <link rel="stylesheet" type="text/css" href="{% static 'manager/layui/css/layui.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'manager/css/index.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'manager/css/toast.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'manager/font-awesome-4.7.0/css/font-awesome.min.css' %}">
    <style type="text/css">


        #msgview {
            padding: 20px;
        }

        .console-line-msg {
            margin-top: 12px;
        }

        .success {
            color: green;
        }

        .fail {
            color: red;
        }

        .skip {
            color: #000000;
        }

        cite {
            vertical-align: middle;
        }

        .icon {
            margin-right: 10px;
            width: 14px;
        }

        .layui-layout-admin .layui-header {
            background-color: rgba(255, 255, 255, 1);
            min-height: 60px;
        }

        .layui-nav .layui-nav-item > a {
            padding-left: 26px;
        }

        .textcolor {
            font-size: 12px !important;
            font-family: PingFangSC-Regular, PingFang SC !important;
            font-weight: 400 !important;
            color: rgba(102, 102, 102, 1) !important;
            line-height: 17px !important;
        }

        .sideicon {
            width: 16px;
            height: 16px;
            padding-right: 10px;
            padding-bottom: 0px;
            opacity: 0.8;
        }

        .layui-this > a > img {
            opacity: 1;
        }
    </style>
</head>
<body class="main_body" zoom:0.8>
<div class="layui-layout layui-layout-admin">
    <!-- 顶部 -->
    <div class="layui-header header"
         style="left: 200px;width: calc(100% - 200px);border-bottom:1px solid rgba(234,234,234,1)">
        <div class="layui-main mag0" style="margin: 0">
            <!-- 显示/隐藏菜单 -->
            <a href="javascript:;" style="margin:15px 20px;background-color:white"
               class="seraph hideMenu"><img src="{% static 'manager/icon/hide.svg' %}"
                                            style="width:18px;height:18px;padding-right: 10px"></a>
            <!-- 顶部右侧菜单 -->
            <ul class="layui-nav top_menu">
                <li class="layui-nav-item" style="margin-left: 30px;">
                    <img src="{% static 'manager/image/me.jpg' %}" style="padding: 0" class="layui-nav-img">
                    <i id='username' class="textcolor">{{ request.session.username }}</i>
                </li>
                {% if request.session.username == 'admin' %}
                    <li class="layui-nav-item" style="margin-left: 30px;"><a style="padding: 0" class="textcolor"
                                                                             href="#" id='globalsetting'><img
                            src="{% static 'manager/icon/setting.svg' %}"
                            style="width:18px;height:18px;padding-right: 10px">全局设置</a></li>
                {% endif %}
                <li class="layui-nav-item" style="margin-left: 30px;"><a class="textcolor" style="padding: 0" href="#"
                                                                         id='console'><img
                        src="{% static 'manager/icon/monitor.svg' %}"
                        style="width:13px;height:13px;padding-right: 10px">控制台</a></li>
                <li class="layui-nav-item" style="margin-left: 30px;"><a class="textcolor" style="padding: 0"
                                                                         href="{{ BASE_URL }}/account/logout/"><img
                        src="{% static 'manager/icon/logout.svg' %}" style="width:13px;height:13px;padding-right: 10px">退出</a>
                </li>
            </ul>
        </div>
    </div>
    <!-- 左侧导航 -->
    <div class="layui-side layui-bg-black" style="z-index: 2003;top: 0px!important;">
        <a href="#" class="logo">
            <img i="icon" src="{% static 'manager/icon/logo.svg' %}" style="text-align:left;padding-right: 10px">
        </a>
        <div class="navBar layui-side-scroll" id="navBar" style="width: 200px">
            <ul class="layui-nav layui-nav-tree" style="margin-top: 12px;">
                <li class="layui-nav-item layui-this">
                    <a href="javascript:;" data-url="/homepage/"><img class="sideicon"
                                                                      src="{% static 'manager/icon/home.svg' %}"><cite>首页</cite></a>
                </li>
                {% if request.session.username == 'admin' %}
                    <li class="layui-nav-item">
                        <a href="javascript:;" data-url="/account/user/"><i class="fa fa-user icon"
                                                                            style="padding-left: 2.1px;padding-bottom:2.5px;opacity:0.8"></i><cite>用户管理</cite></a>
                    </li>
                {% endif %}
                <li class="layui-nav-item">
                    <a id='tree' href="javascript:;" data-url="/manager/tree/"><img i="icon"
                                                                                    src="{% static 'manager/icon/app.svg' %}"
                                                                                    class="sideicon"><cite>用例管理</cite></a>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;" data-url="/manager/dbcon/"><img i="icon"
                                                                           src="{% static 'manager/icon/link.svg' %}"
                                                                           class="sideicon"><cite>数据连接</cite></a>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;" data-url="/manager/var/"><img i="icon"
                                                                         src="{% static 'manager/icon/var.svg' %}"
                                                                         class="sideicon"><cite>变量管理</cite></a>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;" data-url="/manager/function/"><img i="icon"
                                                                              src="{% static 'manager/icon/func.svg' %}"
                                                                              class="sideicon"><cite>函数定义</cite></a>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;" data-url="/manager/datamove/"><img i="icon"
                                                                              src="{% static 'manager/icon/move.svg' %}"
                                                                              class="sideicon"><cite>数据迁移</cite></a>
                </li>
                {% if request.session.username == 'hujj' %}
                    <li class="layui-nav-item">
                        <a href="javascript:;" data-url="/manager/template/"><img i="icon"
                                                                                  src="{% static 'manager/icon/help.svg' %}"
                                                                                  class="sideicon"><cite>报文模板</cite></a>
                    </li>
                {% endif %}


                <li class="layui-nav-item">
                    <a href="javascript:;" data-url="/manager/help/"><img i="icon"
                                                                          src="{% static 'manager/icon/help.svg' %}"
                                                                          class="sideicon"><cite>帮助文档</cite></a>
                </li>
            </ul>
        </div>
    </div>
    <!-- 右侧内容 -->
    <div class="layui-body layui-form" style="bottom:0px;top: 60px!important;border-left:0px">
        <div class="layui-tab mag0" lay-filter="bodyTab" id="top_tabs_box" style="margin-top: 0px">
            <ul class="layui-tab-title top_tab" id="top_tabs" hidden>
                <li class="layui-this" lay-id=""><i class="layui-icon">&#xe68e;</i> <cite>首页</cite></li>
            </ul>
            <div class="layui-tab-content clildFrame" style="top:0">
                <div class="layui-tab-item layui-show">
                    <iframe id='iframe' src="/homepage/"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>

<form id='addsetting' hidden style="padding:10px;">
    <div class="layui-form-item">
        <label class="layui-form-label">me2地址：</label>
        <div class="layui-input-block">
            <input type="text" name="me2url" placeholder="请输入工具当前地址，类似：10.60.44.54:9999" autocomplete="off"
                   class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">redis地址：</label>
        <div class="layui-input-block">
            <input type="text" name="redisurl" placeholder="请输入redis的地址和端口，类似：10.60.44.54:6379" autocomplete="off"
                   class="layui-input">
        </div>
    </div>
</form>

<div id='consoleview'>
    <div id="msgview" style="padding:10px;"></div>
</div>
<!-- 移动导航 -->
<div class="site-tree-mobile"><i class="layui-icon">&#xe602;</i></div>
<div class="site-mobile-shade"></div>


<script src="{% static 'manager/js/jquery.min.js' %}"></script>
<script src="{% static 'manager/js/utils.js' %}"></script>
<script src="{% static 'manager/layui/layui.js' %}"></script>
<script src="{% static 'manager/js/index.js' %}"></script>
<script src="{% static 'manager/js/toast.js' %}"></script>


<script type="text/javascript">
    layui.use(['layer'], function () {
        var $ = layui.$;
        var layer = layui.layer;
        //控制台弹出
        var consoleSocket = undefined
        var username = $("#username").text()
        var taskkeys = []
        var curtaskindex = 0

        $("#console").click(function () {
            _post_nl('/homepage/querytaskid/', {'console': 1}, function (data) {
                let consoleSocket = new WebSocket("ws://" + host + "/ws/consolemsg/");
                consoleSocket.onopen = function () {
                    // var username=$("#username").text()
                    console.log("开始获取" + username + "控制台消息..")
                    consoleSocket.send('console.msg::read::' + username + '::' + data.taskid)
                }
                consoleSocket.onmessage = function (e) {
                    console.log(e.data);
                    console.log(e.data.indexOf("[key-value]"))
                    if (e.data.indexOf("hasRead") === -1)
                        $("#msgview").append("<p class='console-line-msg'>" + e.data + "</p>")
                    else {
                        //$("#taskids").text(e.data)
                        //taskkeys = e.data.split('[key-value]')[1].split(",")
                        //console.log("设置taskkeys=>", taskkeys)
                        $("#msgview").append("<p class='console-line-msg'>最新的运行日志缓存已经读取过</p>")
                    }
                }
                consoleSocket.onclose = function () {
                    console.log("结束获取控制台消息..")
                }
                var o = layer.open({
                    title: '运行消息',
                    type: 1,
                    content: $('#consoleview'),
                    btn: ['next'],
                    area: ["750px", "450px"],
                    maxmin: true,
                    yes: function (index, layero) {

                        console.log("next..")
                        consoleSocket.send("console.msg::next")

                    },
                    cancel: function (index, layero) {
                        consoleSocket.close()
                        $("#msgview").empty()
                    },
                });
                layer.full(o);
            })
        });


        $('#globalsetting').click(
            function () {
                layer.open({
                    type: 1,
                    title: "全局设置",
                    content: $('#addsetting'),
                    area: ['600px', '260px'],
                    offset: 'auto',
                    shade: [0.1, '#393D49'],
                    shadeClose: true,
                    btn: ['确认后请手动重启服务', '取消'],
                    success: function () {
                        $.ajax({
                            url: '/homepage/globalsetting/',
                            type: 'GET',
                            dataType: 'json',
                            success: function (res) {
                                res = JSON.parse(res)
                                $("[name='me2url']").val(res.data['me2url']),
                                    $("[name='redisurl']").val(res.data['redisip'] + ":" + res.data['redisport'])
                            }
                        })
                    },
                    yes: function (index, layero) {
                        $.ajax({
                            url: '/homepage/globalsetting/',
                            type: 'POST',
                            dataType: 'json',
                            data: {
                                'me2url': $("[name='me2url']").val(),
                                'redisurl': $("[name='redisurl']").val()
                            },
                            success: function (res) {
                                res = JSON.parse(res)
                                if (res.code == 0) {
                                    layer.close(index)
                                    layer.alert("重启后，请重新加载页面！", {icon: 1, time: 3000})
                                } else {
                                    layer.alert(res.msg, {icon: 5, time: 3000})
                                }
                            }
                        })
                    },
                    btn2: function (index, layero) {
                        layer.close(index)
                    },
                    cancel: function (index, layero) {
                        layer.close(index)
                    }
                })
            }
        );

        function setIframeHeight(iframe) {
            if (iframe) {
                var iframeWin = iframe.contentWindow || iframe.contentDocument.parentWindow;
                if (iframeWin.document.body) {
                    iframe.height = iframeWin.document.documentElement.scrollHeight || iframeWin.document.body.scrollHeight;
                    console.log(iframe.height)
                }
            }
        };
        window.onload = function () {
            setIframeHeight(document.getElementById('iframe'));
        };

    });

    $(document).ready(function () {
        connect_on();
    });

</script>

</body>
</html>
