{% load static %}
<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>ITF2.0_web版本</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link rel="stylesheet" type="text/css" href="{% static 'manager/layui/css/layui.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'manager/font-awesome-4.7.0/css/font-awesome.min.css' %}">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

  <!-- Google Font -->
  <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
  <style type="text/css">
 
/* .layui-nav-item,.layui-nav-itemed{
  width:150px!important;
 }*/
    
  #msgview{
    padding: 20px;
  
  }
  .console-line-msg{
    margin-top: 12px;

  }
  .success{
    color:green;

  }
  .fail{
    color:red;

  }
  .skip{
    color:#000000;
  }
  .fa{
    font-size:20px;
   /* border: 1px solid #eee;*/
  }


  </style>
</head>

<body style="">
<div class="layui-layout-body " id=''>



<div class="layui-layout layui-layout-admin">
  <div class="layui-header">
    <div class="layui-anim layui-logo" data-anim="layui-anim-scaleSpring">ME2_v1.0</div>
   
    <ul class="layui-nav layui-layout-right">
      <li class="layui-nav-item">
        <a href="javascript:;">
          <img src="{%static 'manager/image/me.jpg'%}" class="layui-nav-img">
          <i id='username'>{{request.session.username}}</i>
        </a>
        <dl class="layui-nav-child">
          <dd><a href="">基本资料</a></dd>
          <dd><a href="">安全设置</a></dd>
        </dl>
      </li>
      <li class="layui-nav-item"><a href="#" id='console'>控制台</a></li>
      <li class="layui-nav-item"><a href="#" id='console'>远程日志</a></li>
      <li class="layui-nav-item"><a href="{{BASE_URL}}/account/logout/">退出</a></li>

    </ul>
  </div>
  
  <div class="layui-side layui-bg-black" style="width:90px!important;padding:10px!important;">
    <div class="layui-side-scroll" style="width:70px!important;">
      <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
      <ul class="layui-nav layui-nav-tree"  lay-filter="test" style="width:70px!important;" >


          <li class="layui-nav-item layui-nav-itemed">
          <a id="homepage-link" href="javascript:;" link='homepage/' class="fa fa-home" title="首页"></a>
        </li>

        {% if request.session.username == 'admin' %}
        <li class="layui-nav-item layui-nav-itemed">
          <a id="register-link" href="javascript:;" link='account/user/' class="fa fa-user" title="账户管理"></a>
        </li>
        {%endif%}
   

        <li class="layui-nav-item layui-nav-itemed">
          <a id="tree-link" href="javascript:;" link='manager/tree/' class="fa fa-list" title="用例管理"></a>
        </li>
 


        <li class="layui-nav-item layui-nav-itemed">
          <a id="help-link" href="javascript:;" link='manager/help/' class="fa fa-question-circle"  title="帮助文档"></a>
        </li>
<!--         <li class="layui-nav-item layui-nav-itemed">
          <a id="var-link" href="javascript:;" link='manager/testtable/'>业务数据构造</a>
        </li> -->
       
        <li class="layui-nav-item layui-nav-itemed">
          <a id="move-link" href="javascript:;" link='manager/datamove/' class="fa fa-paper-plane-o" title="数据迁移"></a>
        </li>


        <li class="layui-nav-item layui-nav-itemed">
          <a id="db-link" href="javascript:;" link='manager/dbcon/' class="fa fa-database" title="数据连接"></a>
        </li>
        <li class="layui-nav-item layui-nav-itemed">
          <a id="var-link" href="javascript:;" link='manager/var/' class="fa fa-btc" title="变量"></a>
        </li>

<!--         <li class="layui-nav-item layui-nav-itemed">
          <a id="var-link" href="javascript:;" link='manager/tag/'>标签管理</a>
        </li> -->
        
        <li class="layui-nav-item layui-nav-itemed">
          <a id="func-link" href="javascript:;" link='manager/function/' class="fa fa-facebook" title='函数定义'></a>
        </li>
<!--         <li class="layui-nav-item layui-nav-itemed">
          <a id="var-link" href="javascript:;" link='manager/itf/'>接口管理</a>
        </li> -->
<!--         <li class="layui-nav-item layui-nav-itemed">
          <a id="var-link" href="javascript:;" link='manager/result/'>结果查看</a>
        </li>

        <li class="layui-nav-item layui-nav-itemed">
          <a id="var-link" href="javascript:;" link='manager/resultdetail/'>结果明细查看</a>
        </li> -->
<!--         <li class="layui-nav-item layui-nav-itemed">
          <a id="var-link" href="javascript:;" link='manager/record/'>录制管理</a>
        </li> -->
      </ul>
    </div>
  </div>
  
  <div class="layui-body" style="left:120px!important">
    <!-- 内容主体区域 -->
    <div class="layui-tab" lay-allowclose='true' lay-filter='tab'>

      <ul class="layui-tab-title"></ul>
      <div class="layui-tab-content" style="height:500px;">
        
      </div>

    </div>
  
  </div>
  <div id='consoleview'><div id="msgview" style="padding:10px;"></div></div>
  <div id='taskids' hidden></div>
  <div class="layui-footer">
    <!-- 底部固定区域 -->
    © 2019-09 version 1.0 by blackstone
  </div>
</div>



<!-- REQUIRED JS SCRIPTS -->

<script src="{% static 'manager/js/jquery.min.js' %}"></script>
<!-- utils.js-->
<script src="{% static 'manager/js/utils.js' %}"></script>

<script src="{% static 'manager/layui/layui.js' %}"></script>
<!-- ui.js-->
<script src="{% static 'manager/js/ui.js' %}"></script>


<!-- Optionally, you can add Slimscroll and FastClick plugins.
     Both of these plugins are recommended to enhance the
     user experience. -->

<script type="text/javascript">

  //usercache
 // console.log('before=>'+usercache)
  // window.usercache=$('#username').text()
  // alert(window.usercache)
 
  // console.log("设置usercache"+'before=>'+usercache+" after=>")

  layui.use(['element','layer'],function(){

    var tab_id=1;
    var $=layui.$;
    var element = layui.element;
    var layer=layui.layer;
    //控制台弹出
    var consoleSocket=undefined
    var username=$("#username").text()
    var taskkeys=[]
    var curtaskindex=0

    $("#console").click(function(){

      //connect_recv_console_msg();

    let consoleSocket = new WebSocket("ws://"+host+"/ws/consolemsg/");
    consoleSocket.onopen=function(){
      // var username=$("#username").text()
      console.log("开始获取"+username+"控制台消息..")
      consoleSocket.send('console.msg::read::'+username)

    }

    consoleSocket.onmessage=function(e){
      console.log(e.data);
      if (e.data.indexOf("[key-value]")===-1)
        $("#msgview").append("<p class='console-line-msg'>"+e.data+"</p>")
      else{
        //$("#taskids").text(e.data)
        taskkeys=e.data.split('[key-value]')[1].split(",")
        console.log("设置taskkeys=>",taskkeys)
      }




    }
    consoleSocket.onclose=function(){

      console.log("结束获取控制台消息..")

    }

     // connect_on();

    var o=layer.open({
        title:'运行消息',
        type:1,
        content:$('#consoleview'),
        btn:['next'],
        area:["750px","450px"],
        maxmin: true,
        yes:function(index, layero){

          console.log("next..")
          consoleSocket.send("console.msg::next")


        },
        cancel:function(index, layero){
          consoleSocket.close()
          $("#msgview").empty()
        },

    });
    layer.full(o);
    });

    //绑定各菜单点击选项卡事件

    $('a[link]').each(function(){

      $(this).click(function(){

        url=http_base+'/'+$(this).attr('link');
        // console.log(url)
        title=$(this).attr('title')
        // console.log(title);
        id=$(this).attr('id');
        var count=$("iframe[data-frameid='"+id+"']").length

        // console.log('存在')
        // console.log(count)

        if(count==0){

          element.tabAdd('tab', {
          title:title
          ,content: '<iframe data-frameid="'+id+'" scrolling="yes" frameborder="0" src="'+url+'" style="width:100%;height:500px;"></iframe>'
          ,id: id}); 

          element.tabChange("tab",(tab_id)+'');
          // console.log('tabChange=>'+id)
          element.tabChange("tab",id);
          // tab_id=tab_id+1;
        }else{
          element.tabChange("tab",id);
          
        }

        $("table").css("height","100%");
      });

    });

  //默认到计划页面

    $("[link='homepage/']").click();

});

  $(document).ready(function(){
    connect_on();
        //bind_interface_click();

  });


</script>
</div>
</body>
</html>