{% load static %}
<!DOCTYPE html >
<html lang="en" style="height: 100%">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'manager/layui/css/layui.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'manager/font-awesome-4.7.0/css/font-awesome.min.css' %}">
    <title>字段管理</title>
    <style type="text/css">
        .layui-icon:hover {
            cursor: pointer;
        }

        .sort_display {
            display: {{is_sort_display}}
        }

        .start_display {
            display: {{is_start_display}}
        }

        .edit {
            width: 24px;
            height: 17px;
            font-size: 12px;
            font-family: PingFang-SC-Medium, PingFang-SC;
            font-weight: 500;
            color: rgba(0, 151, 136, 1);
            line-height: 17px;
        }
    </style>
</head>
<body style="height:calc(100% - 40px);padding: 20px">

<div class="layui-inline">
    <div class="layui-input-inline"><input id='search-value' type="text" name="" placeholder="字段名称" class="layui-input">
    </div>
    <button class="layui-btn" id='querybtn'>查询</button>
    <button class="layui-btn" id='addbtn2'>新增</button>
    <button class="layui-btn layui-btn-danger" id='delbtn'>删除</button>
</div>
<table id="table-template" lay-filter="target"></table>
<table id='table-template' class="layui-table"
       lay-data="{height: 'full-80',cellMinWidth:'180',page: true, limit:10, url:'/manager/querytemplatefield/?tid={{ tid }}'}"
       lay-filter='target'>
    <thead>
    <tr>
        <th lay-data="{type:'checkbox'}"></th>
        <th lay-data="{field: 'id',width:80,hide:true}">ID</th>
        <th lay-data="{field: 'fieldcode', sort: true}">字段名</th>
        <th lay-data="{field: 'description', sort: true}">描述</th>
        <th lay-data="{field: 'index', sort: true}">排序</th>
        <th lay-data="{field: 'length', sort: true}">长度</th>
        <th lay-data="{fixed: 'right',align:'center', toolbar: '#toolbar',width:160}">操作</th>

    </tr>
    </thead>
</table>

<form id='addhtml' hidden=true class="layui-form" style="padding: 10px;" lay-filter='addhtml'>
    <div class="layui-form-item">
        <label class="layui-form-label">字段code</label>
        <div class="layui-input-block">
            <input type="text" name="fieldcode" placeholder="请输入" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">描述</label>
        <div class="layui-input-block">
            <input type="textarea" name="description" placeholder="请输入" autocomplete="off" class="layui-textarea">
        </div>
    </div>


    <div class="layui-form-item start_display">
        <div class="layui-inline" style="width:45%">
            <label class="layui-form-label">开始</label>
            <div class="layui-input-block">
                <input type="textarea" name="start" placeholder="请输入" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline" style="width:45%">
            <label class="layui-form-label">结束</label>
            <div class="layui-input-block">
                <input type="textarea" name="end" placeholder="请输入" autocomplete="off" class="layui-input">
            </div>
        </div>
    </div>


    <div class="layui-form-item sort_display ">
        <label class="layui-form-label">排序</label>
        <div class="layui-input-block">
            <input type="text" name="index" placeholder="请输入" autocomplete="off" class="layui-input">
        </div>
    </div>


</form>
</body>

<script src="{% static 'manager/js/jquery.min.js' %}"></script>
<script src="{% static 'manager/layui/layui.js' %}"></script>
<script src="{% static 'manager/js/utils.js' %}"></script>

<script type="text/javascript">

    layui.use(['table', 'layer'], function () {
        var table = layui.table;
        var $ = layui.jquery
        var layer = layui.layer;
        var form = layui.form;
        if ({{ show_index }} == false){
            table.render({
                elem: '#table-template' //指定原始表格元素选择器（推荐id选择器）
                ,  height: 'full-100' //容器高度
                , url: '/manager/querytemplatefield/?tid={{ tid }}'
                ,page: true
                , cols: [[
                    {type: 'checkbox'}
                    , {field: 'id', width: 80, hide: true}
                    , {field: 'fieldcode', title: '字段名', sort: true}
                    , {field: 'description', title: '描述', sort: true}
                    , {field: 'index', title: '排序'}
                    , {field: 'right', title: '操作', toolbar: '#toolbar',align:'center'}
                    ,
                ]]
            });
        }else{
            table.render({
                elem: '#table-template' //指定原始表格元素选择器（推荐id选择器）
                ,  height: 'full-100' //容器高度
                , url: '/manager/querytemplatefield/?tid={{ tid }}'
                ,page: true
                , cols: [[
                    {type: 'checkbox'}
                    , {field: 'id', width: 80, hide: true}
                    , {field: 'fieldcode', title: '字段名', sort: true}
                    , {field: 'description', title: '描述', sort: true}
                    , {field: 'index', title: '排序'}
                    , {field: 'length', title: '长度', sort: true}
                    , {field: 'right', title: '操作', toolbar: '#toolbar',align:'center'}
                    ,
                ]]
            });
        }






//
//查询功能
        $("#querybtn").click(function (e) {

            console.log('query var');

            //layer.open({'title':'','type':2,'content':'http://www.baidu.com'});
            table.reload('table-template', {
                page: {
                    curr: 1
                },
                where: {
                    searchvalue: $("#search-value").val()

                }

            });


        });

//删除功能
        $("#delbtn").click(function (e) {


            var checkStatus = table.checkStatus("table-template");
            data = checkStatus.data; //获取选中的数据

            if (data.length == 0) {
                layer.alert('你有选择删除的变量么?', {icon: 3, time: 1500})

                return

            }

            layer.confirm('确认删除么?', {
                btn1: function (index, layero) {
                    layer.close(index)
                    success = function (e) {

                        if (e.code == 0) {
                            table.reload('table-template', {
                                page: {
                                    curr: 1
                                },
                                where: {
                                    searchvalue: $("#search-value").val()

                                }

                            });
                            layer.alert(e.msg, {icon: 1, time: 1500})
                        } else
                            layer.alert(e.msg, {icon: 2})

                    }

                    ids = []
                    for (var index = 0; index < data.length; index++) {
                        ids.splice(0, 0, data[index]['id'])

                    }

                    //alert(ids)

                    _post('/manager/deltemplatefield/', {'ids': ids.join()}, success)


                },

            })

        });

//新增功能

        $("#addbtn2").click(function () {

            var o = layer.open(
                {
                    title: '新增字段',
                    type: 1,
                    // area:["350px","350px"],
                    content: $('#addhtml'),
                    btn: ['提交', '取消'],

                    yes: function (index, layero) {
                        //按钮【按钮一】的回调
                        success = function (e) {
                            layer.close(index)
                            if (e.code == 0) {
                                // $('#addhtml')[0].reset()
                                // layui.form.render()
                                layer.alert(e.msg, {icon: 1})
                                table.reload('table-template', {
                                    page: {
                                        curr: 1
                                    },
                                    where: {
                                        searchvalue: $("#search-value").val()

                                    }

                                });
                            } else
                                layer.alert(e.msg, {icon: 2})
                        }


                        data = {
                            'tid': '{{tid}}',
                            'kind': '{{kind}}',
                            'fieldcode': $("[name='fieldcode']").val(),
                            'description': $("[name='description']").val(),
                            'start': $("[name='start']").val(),
                            'end': $("[name='end']").val(),
                            'index': $("[name='index']").val()
                        }

                        _post("/manager/addtemplatefield/", data, success)

                    }

                });

            //layer.full(o);

        });

//tool事件
        table.on("tool(target)", function (e) {
            console.log(e.event);
            // var checkStatus = table.checkStatus("table-template");
            // data = checkStatus.data; //获取选中的数据
            id = e.data['id']

            if (e.event == 'field_edit') {
                $("[name='kind']").each(function () {
                    $(this).removeAttr('checked')
                });

                success = function (data) {
                    console.log(data.data)
                    //设置addhtml
                    $("[name='fieldcode']").val(data.data['fieldcode'])
                    $("[name='description']").val(data.data['description'])
                    $("[name='start']").val(data.data['start'])
                    $("[name='end']").val(data.data['end'])
                    $("[name='index']").val(data.data['index'])

                    form.render()
                    //打开表

                    var o = layer.open({
                        type: 1,
                        title: '编辑字段',
                        content: $('#addhtml'),
                        btn: ['提交', '取消'],
                        yes: function (index, layero) {

                            layer.close(index)
                            success = function (e) {
                                // alert(e)
                                $('#addhtml')[0].reset()
                                layui.form.render()
                                //e=JSON.parse(e)
                                if (e.code == 0) {
                                    layer.alert(e.msg, {icon: 1, time: 1500})
                                    table.reload('table-template', {
                                        page: {
                                            curr: 1
                                        },
                                        where: {
                                            searchvalue: $("#search-value").val()

                                        }

                                    });
                                } else
                                    layer.alert(e.msg, {icon: 2})
                            }
                            _post('/manager/edittemplatefield/', {
                                'fid': id,
                                'fieldcode': $("[name='fieldcode']").val(),
                                'description': $("[name='description']").val(),
                                'start': $("[name='start']").val(),
                                'end': $("[name='end']").val(),
                                'index': $("[name=index]").val()

                            }, success)

                        }

                    });
                    //layer.full(o);
                }
                _post('/manager/queryfielddetail/', {tid: id}, success)

            } else if (e.event == 'detail') {

            }

        });

    });

</script>
<script type="text/html" id="toolbar">
    <i class="layui-icon edit" lay-event="field_edit">编辑</i>

</script>
</html>
