{% load static %}
<!DOCTYPE html >
<html lang="en" style="height: 100%">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'manager/layui/css/layui.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'manager/font-awesome-4.7.0/css/font-awesome.min.css' %}">
    <script src="{% static 'homepage/vue.js' %}"></script>
    <link rel="stylesheet" href="{% static 'homepage/eleui/theme-chalk/index.css' %}">
    <script src="{% static 'homepage/eleui/index.js' %}"></script>

    <title>变量管理</title>
    <style type="text/css">
        .layui-icon:hover {
            cursor: pointer;
        }

        .btn {
            height: 34px;
            line-height: 34px;
        }
        .edit{
            width:24px;
            height:17px;
            font-size:12px;
            font-family:PingFang-SC-Medium,PingFang-SC;
            font-weight:500;
            color:rgba(0,151,136,1);
            line-height:17px;
        }

        .layui-table-view {
            margin: 20px 0;
        }

        #gain {
            /* font-size:16px;*/
            padding-left: 5px;
            /*line-height:30px;*/
        }

        #dblist {
            position: absolute;
            list-style: none;
            width: 150px;
            display: none;
            border: 1px solid #5FB878;
            padding: 5px;
            z-index: 3000;
            background-color: white;
        }

        #dblist li {
            height: 25px;
            line-height: 25px;
        }

        /*      #dblist li:hover{background:#5FB878;cursor:pointer;}*/
        #dblist .active {
            background: #5FB878;
            cursor: pointer;
        }

        #addtag:hover {
            cursor: pointer;
        }

        .layui-input, .layui-textarea, .layui-select {
            height: 34px;
        }

        .layui-input-block {
            min-height: 34px;
        }

        .layui-unselect .layui-form-select {
            width: 70%;
            float: right;
        }

        .el-dialog__wrapper {
            z-index: 20000000;
        }

        .el-form-item__label {
            width: 19%;
            padding: 0;
            text-align: center;
        }

        .el-form-item__content {
            margin-left: 20%;
        }

        .el-input {
            width: calc(100% - 100px);
        }

        .el-select > .el-input {
            width: 100%
        }

        .el-input__inner, .el-input__icon {
            height: 34px;
            line-height: 34px;
        }

        .el-cascader .el-input .el-input__inner {
            height: 34px !important;
            line-height: 34px;
        }

        .el-cascader,
        .el-cascader .el-input {
            width: 60%;
        }

        .el-cascader, .el-cascader .el-input {
            width: 100%;
        }

        .el-form-item {
            margin-bottom: 15px;
        }

        #varcopy > .el-dialog > .el-dialog__body {
            padding-top: 0px;
            padding-bottom: 0px;
        }

    </style>
</head>
<body style="height: calc(100% - 40px);padding: 20px">
<div id="var">
    <template>
        <div class="layui-form">
            <div class="layui-inline">
                <button class="layui-btn btn" id='addbtn'>新增</button>
                <button class="layui-btn btn layui-btn-danger" id='delbtn'>删除</button>
                <button class="layui-btn btn" id='copybtn'>复制</button>
                <!--  <el-tooltip class="item" effect="dark" content="批量替换标记！" placement="top">
					  <button class="layui-btn btn" id='editbtn'>标记</button>
				  </el-tooltip>-->
            </div>
            <div class="layui-inline" style="float: right;width: 80%;">
                <button class="layui-btn btn" id='querybtn' style="float: right;">查询</button>
                <div class="layui-input-inline" style="float: right;">
                    <input id='search-value' type="text" name="" placeholder="描述|键|获取方式|值"
                           class="layui-input btn">
                </div>
                <el-select @change="tagChange" clearable collapse-tags filterable
                           v-model="form.tagvalue" multiple style="width: 30%;float: right;">
                    <el-option
                            v-for="i in tagvalues"
                            :key="i.id"
                            :label="i.name"
                            :value="i.id">
                    </el-option>
                </el-select>
                <div class="layui-input-inline" style="margin-bottom: 0px;width: 14%;float: right;">
                    <select name="allplan" lay-filter="allplan" lay-verify="required" lay-search style="float: right;">
                        <option value="">全部</option>
                    </select>
                </div>
                <div class="layui-input-inline" style="margin-bottom: 0px;width: 14%;float: right;">
                    <select name="user" lay-filter="user" lay-verify="required" lay-search style="float: right;">
                        <option value="0">我的变量</option>
                        <option value="-1">全部变量</option>
                    </select>
                </div>
            </div>
        </div>
        <table id='table-var' class="layui-table" lay-filter='target' style="display:none">
        </table>
        <form id='addhtml' hidden=true class="layui-form" style="padding: 30px 100px 0 30px ;" lay-filter='addhtml'>
            <div class="layui-form-item">
                <label class="layui-form-label">键名</label>
                <div class="layui-input-block">
                    <input type="text" name="key" placeholder="请输入" autocomplete="off" class="layui-input"
                           width="77.72%">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">描述</label>
                <div class="layui-input-block">
                    <input type="text" name="description" placeholder="请输入" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">获取方式</label>
                <div class="layui-input-block">
            <textarea id="gain" type="text" name="gain"
                      placeholder="方式1=>sql查询如select urid from manager_user@dbname;         方式2=>函数调用如 getDate()"
                      autocomplete="off" class="layui-textarea" style=""></textarea>
                    <ul id='dblist'></ul>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">值</label>
                <div class="layui-input-block">
            <textarea id='value' type="text" name="value" placeholder="请输入" autocomplete="off"
                      class="layui-textarea"></textarea>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-inline" style="width: 60%">
                    <label class="layui-form-label">绑定计划</label>
                    <div class="layui-input-inline" style="width: calc(100% - 120px);">
                        <el-cascader style="width: 100%"
                                     :options="productAndPlan"
                                     v-model="bindplans"
                                     :props="props"
                                     collapse-tags
                                     ref="bindplanslabel"
                                     clearable>
                        </el-cascader>
                    </div>
                </div>
                <div class="layui-inline" style="float: right;">
                    <label class="layui-form-label">缓存</label>
                    <div class="layui-input-inline" style="width: 100px;">
                        <input type="checkbox" name="is_cache" lay-skin="switch" lay-text="ON|OFF">
                    </div>
                </div>
            </div>

            <div class="layui-form-item">
                <div class="layui-inline" style="width: 100%">
                    <label class="layui-form-label">标记</label>
                    <div class="layui-input-block">
                        <button type="button" id="addtagbtn" @click="addtagbtn"
                                class="layui-btn layui-btn-radius layui-btn-primary">添加标记
                        </button>
                        <blockquote class="layui-inline" v-html="wantTag" style="margin-bottom:0px">
                        </blockquote>
                    </div>
                </div>
            </div>
            <div class="layui-form-item">

            </div>
        </form>
        <el-dialog title='标记' :visible.sync="tagFormVisible" width="50%" height="100%">
            <el-form :model="tagform" ref="tagform" label-width="100px" class="demo-dynamic" @submit.native.prevent>
                <label class="el-form-item__label" style="width: 100px">查询</label>
                <el-select
                        id="tagquery"
                        style="margin-bottom: 22px;"
                        v-model="tagvalue"
                        filterable
                        remote
                        reserve-keyword
                        @focus="tagfocus"
                        placeholder="输入标签关键字查询"
                        :remote-method="remoteMethod"
                        :loading="loading">
                    <el-option
                            v-for="item in options"
                            :key="item.value"
                            :label="item.label"
                            :value="item.value">
                    </el-option>
                </el-select>
                <el-form-item
                        v-for="(tag, index) in tagform.tags"
                        :label="'标记' + (index+1)"
                        :key="tag.key"
                        :prop="'tags.' + index + '.value'">
                    <el-input v-model="tag.value" maxlength="8" show-word-limit></el-input>
                    <el-button @click.prevent="removetag(tag)">删除</el-button>
                </el-form-item>
                <el-form-item>
                    <el-button id='tagsubmit' type="primary" @click="tagSubmit('tagform',0)">提交</el-button>
                    <el-button @click="addtag">新增标记</el-button>
                </el-form-item>
            </el-form>
        </el-dialog>
        <el-dialog id="varcopy" title="变量复制" :visible.sync="copyFormVisible">
            <div class="" style="text-align: center" v-html="cpoyinfo"></div>
            <div class="layui-form-item" style="margin-top: 10px">
                <el-form :model="tagform" ref="tagform" label-width="100px" class="demo-dynamic" @submit.native.prevent>
                    <div class="el-form-item">
                        <label class="el-form-item__label" style="width: 100px">绑定计划</label>
                        <el-cascader style="width: calc(100% - 200px);"
                                     :options="productAndPlan"
                                     v-model="copybindplans"
                                     :props="props"
                                     collapse-tags
                                     clearable
                                     close="copyFormcancel"
                                     ref="copybindplanslabel"
                        >
                        </el-cascader>
                    </div>


                    <el-form-item
                            v-for="(tag, index) in tagform.copytags"
                            :label="'标记' + (index+1)"
                            :key="tag.key"
                            :prop="'tags.' + index + '.value'">
                        <el-input v-model="tag.value" maxlength="8" show-word-limit></el-input>
                        <el-button @click.prevent="removetag(tag)">删除</el-button>
                    </el-form-item>
                    <el-form-item style="margin-bottom:0px">
                        <el-button @click="addcopytag">新增标记</el-button>
                    </el-form-item>
                </el-form>
            </div>
            <div slot="footer" class="dialog-footer">
                <el-button type="primary" id="copyFormSubmit">复 制</el-button>
                <el-button type="primary" id="copyFormEdit">仅修改</el-button>
                <el-button @click="copyFormcancel">取 消</el-button>
            </div>
        </el-dialog>
    </template>
</div>
</body>
<script src="{% static 'manager/js/fa.js' %}"></script>
<script src="{% static 'manager/js/jquery.min.js' %}"></script>
<script src="{% static 'manager/layui/layui.js' %}"></script>
<script src="{% static 'manager/js/utils.js' %}"></script>


<script type="text/javascript">


    var app = new Vue({
        el: '#var',
        delimiters: ['${', '}'],
        data() {
            return {
                options: [],
                tagvalue: [],
                list: [],
                loading: false,
                states: [],
                str: '',
                props: {multiple: true},
                productAndPlan: [],
                tagform: {
                    tags: [{
                        value: ''
                    }],
                    copytags: [{
                        value: ''
                    }]
                },
                bindplans: [],
                tagvalues: [],
                form: {
                    tagvalue: '',
                },
                copyform: {
                    name: '',
                },
                wantTag: '',
                tagFormVisible: false,
                copyFormVisible: false,
                formLabelWidth: '120px',
                cpoyinfo: '',
                copybindplans: [],
            }
        },
        mounted() {

        },
        methods: {
            tagfocus() {
                var that = this;
                that.tagvalue = '';
                _post_nl('/manager/querytags/', {}, function (e) {
                    if (e.code == 0) {
                        that.states = e.data;
                        that.list = that.states.map(item => {
                            return {value: `${item}`, label: `${item}`};
                        });
                        setTimeout(() => {
                            that.loading = false;
                            that.options = that.list.filter(item => {
                                return item.label.toLowerCase().indexOf('') > -1;
                            });
                        }, 50);
                    } else {
                        this.options = [];
                    }
                });
            },
            remoteMethod(query) {
                var that = this;
                if (query !== '') {
                    that.loading = true;
                    _post_nl('/manager/querytags/', {}, function (e) {
                        if (e.code == 0) {
                            that.states = e.data;
                            that.list = that.states.map(item => {
                                return {value: `${item}`, label: `${item}`};
                            });
                            setTimeout(() => {
                                that.loading = false;
                                that.options = that.list.filter(item => {
                                    return item.label.toLowerCase().indexOf(query.toLowerCase()) > -1;
                                });
                            }, 50);
                        } else {
                            this.options = [];
                        }
                    });
                }
            },
            copyFormSubmit(data, action) {
                var that = this;
                var varids = [];
                for (var index = 0; index < data.length; index++) {
                    varids.splice(0, 0, data[index]['id'])
                }
                var copybindplans = {};
                var copytag = '';
                app.tagform.copytags.forEach(function (item, index) {
                    if (item.value != '') {
                        copytag += item.value + ';'
                    }
                });
                app.$refs['copybindplanslabel'].getCheckedNodes().forEach(function (item, index) {
                    if (item['level'] == 2) {
                        copybindplans[item['label']] = [item['parent']['value'], item['value']]
                    }
                });
                _post_nl('/manager/copyvar/', {
                    varids: varids,
                    bindplans: JSON.stringify(copybindplans),
                    tags:copytag,
                    action: action
                }, function (res) {
                    if (res.code == 0) {
                        that.copyFormVisible = false;
                        if (action==0){
                            layer.msg('修改成功')
                        }else layer.msg('复制成功')
                        that.copybindplans = []
                        that.querytaglist(1)
                    } else {
                        layer.msg(res.msg)
                    }
                })
            },
            copyFormcancel(e) {
                var that = this;
                that.copybindplans = []
                that.copyFormVisible = false;
            },
            tagChange(curdata) {
                if (curdata.indexOf(0) != -1) {
                    if (curdata[curdata.length - 1] == 0) {
                        this.form.tagvalue = [0]
                    } else {
                        curdata.splice(curdata.indexOf(0), 1)
                        this.form.tagvalue = curdata
                    }
                } else if (curdata[0] == 0) {
                    this.form.tagvalue = curdata.shift()
                }
                $("#querybtn").click()
            },
            addtagbtn() {
                var that = this;
                that.tagvalue = '';
                that.tagFormVisible = true
            },
            tagSubmit(formName, action) {
                //action 0时为新增编辑中的提交，否则为批量替换的提交
                var that = this;
                if (action == 0) {
                    var str = ''
                    that.tagform.tags.forEach(function (item, index) {
                        if (item.value != '') {
                            str += '<span class="layui-badge">' + item.value + '</span>&nbsp&nbsp&nbsp&nbsp'
                        }
                    });
                    that.wantTag = str;
                    that.tagFormVisible = false;
                } else {
                    str = '';
                    that.tagform.tags.forEach(function (item, index) {
                        if (item.value != '') {
                            str += item.value + ';'
                        }
                    });
                    _post_nl('/manager/varBatchEdit/', {ids: ids, tags: str}, function (res) {
                        if (res.code == 0) {
                            app.querytaglist(1)
                            layer.msg("标签批量替换成功！")
                        } else {
                            layer.msg(res.msg, {icon: 5});
                        }
                    })
                }
            },
            removetag(item) {
                var index = this.tagform.tags.indexOf(item)
                if (index !== -1) {
                    this.tagform.tags.splice(index, 1)
                }
            },
            addtag() {
                if (this.tagform.tags.length > 2) {
                    return
                }
                this.tagform.tags.push({
                    value: '',
                    key: Date.now()
                });
            },
            addcopytag() {
                if (this.tagform.copytags.length > 2) {
                    return
                }
                this.tagform.copytags.push({
                    value: '',
                    key: Date.now()
                });
            },
            querytaglist(up) {
                var that = this;
                _post_nl('/manager/querytaglist/', {userid: $("[name='user']").val()}, function (e) {
                    if (e.code == 0) {
                        that.tagvalues = e.data;
                        if (up == 1) {
                            that.form.tagvalue = that.tagvalues[0] != null ? [that.tagvalues[0].id] : []
                            setTimeout(() => {
                                $("#querybtn").click();
                            }, 50)
                        }
                    }
                });
            }
        },
        created: function () {
            _post_nl('/homepage/queryProductAndPlan/', {}, function (res) {
                if (res.code == 0) {
                    app.productAndPlan = res.data;
                } else layer.msg(res.data)
            });
        },
        watch: {
            'tagvalue': function (value) {
                var that = this;
                var w = 0;
                var r = 0;
                if (value !== '' && that.tagform.tags.length < 3) {
                    that.tagform.tags.forEach(function (item, index) {
                        w = item.value === '' ? item : 0;
                        if (value === item.value) {
                            r = -1
                        }
                    });
                    if (w === 0 && r === 0) {
                        that.tagform.tags.push({
                            value: value,
                            key: Date.now()
                        })
                    } else if (r === 0) {
                        var index = that.tagform.tags.indexOf(w);
                        if (index !== -1) {
                            that.tagform.tags[index].value = value
                        }
                    }
                }
                $('#tagquery').blur();

            }
        }
    });

    layui.use(['table', 'layer'], function () {
        var table = layui.table;
        var $ = layui.jquery;
        var layer = layui.layer;
        var form = layui.form;
        fa.init();
        //获取用户
        _post_nl('/manager/queryUser/', {},
            function (data) {
                var userData = data.data
                for (var i = 0; i < userData.length; i++) {
                    $("[name='user']").append("<option value='" + userData[i]['id'] + "'>" + userData[i]['name'] + "</option>")
                }
                layui.form.render('select');
            }
        );
        _post_nl('/homepage/queryallplan/', {}, function (data) {
            var data = data.data;
            for (var i = 0; i < data.length; i++) {
                $("[name='allplan']").append("<option value='" + data[i]['id'] + "'>" + data[i]['planname'] + "</option>")
            }
            layui.form.render('select');
            app.querytaglist(1)
        })
        form.on('select(user)', function () {
            app.querytaglist(1)
            layui.form.render('select');
        });
        form.on('select(allplan)', function () {
            app.querytaglist(1)
            layui.form.render('select');
        });

//查询功能
        $("#querybtn").click(function (e) {
            table.render({
                elem: '#table-var',
                method: 'POST',
                page: true,
                limit: 10,
                height: 'full-100',
                url: '/manager/queryvar/', //数据接口,
                where: {
                    searchvalue: $("#search-value").val(),
                    userid: $("[name='user']").val(),
                    tags: app.form.tagvalue,
                    bindplan: $("[name='allplan']").val(),
                },
                cols: [[
                    {type: 'checkbox', fixed: 'left'}
                    , {field: 'id', title: 'ID', sort: true, fixed: 'left', hide: true}
                    , {field: 'key', width: '15%', title: '键名'}
                    , {field: 'description', width: '15%', title: '描述', sort: true}
                    , {field: 'value', width: '15%', title: '值'}
                    // , {field: 'gain', width: '15%', title: '获取方式'}
                    , {field: 'planids', width: '17%', title: '绑定计划'}
                    , {field: 'customize', width: '17%', title: '标记'}
                    , {field: 'author', width: '8%', title: '创建者', sort: true}
                    , {align: 'center', toolbar: '#toolbar', fixed: 'right'}
                ]],
                text: {
                    none: '没有找到相关变量！'
                }
            });
        });

        //复制操作
        $("#copybtn").click(function (e) {
            app.tagform.copytags = []
            app.tagform.copytags.push({
                value: '',
                key: Date.now()
            });
            var checkStatus = table.checkStatus("table-var");
            var data = checkStatus.data; //获取选中的数据
            if (data.length == 0) {
                layer.msg('请选择变量！', {time: 1200});
                return false
            }
            _post_nl('/homepage/queryProductAndPlan/', {}, function (res) {
                if (res.code == 0) {
                    app.productAndPlan = res.data;
                    app.cpoyinfo = '你选择了' + data.length + '个变量';
                    app.copyFormVisible = true
                    $("#copyFormSubmit").unbind("click");
                    setTimeout(() => $("#copyFormSubmit").click(() => {
                        app.copyFormSubmit(data, 1);
                    }), 3);
                    $("#copyFormEdit").unbind("click");
                    setTimeout(() => $("#copyFormEdit").click(() => {
                        app.copyFormSubmit(data, 0);
                    }), 3);
                } else layer.msg(res.data)
            });
        });

//批量编辑(暂时只针对标签)
        /**    $("#editbtn").click(function (e) {
            var checkStatus = table.checkStatus("table-var");
            data = checkStatus.data; //获取选中的数据
            if (data.length == 0) {
                layer.msg('请选择变量！', {time: 1200});
                return
            }
            app.tagFormVisible = true
            ids = []
            for (var index = 0; index < data.length; index++) {
                ids.splice(0, 0, data[index]['id'])
            }
            $("#tagsubmit").unbind("click");
            setTimeout(() => $("#tagsubmit").click(() => {
                app.tagSubmit('tagform', ids);
            }), 20);

        });
         **/
//删除功能
        $("#delbtn").click(function (e) {
            var checkStatus = table.checkStatus("table-var");
            data = checkStatus.data; //获取选中的数据
            if (data.length == 0) {
                layer.msg('请选择变量！', {time: 1200});
                return
            }
            layer.confirm('确认删除么?', {
                btn1: function (index, layero) {
                    layer.close(index)
                    success = function (e) {
                        e = JSON.parse(e)
                        if (e.code == 0) {
                            app.querytaglist(0);
                            setTimeout(function () {
                                table.reload('table-var', {
                                    page: {
                                        curr: 1
                                    },
                                    where: {
                                        searchvalue: $("#search-value").val(),
                                        userid: $("[name='user']").val(),
                                        tags: app.form.tagvalue
                                    }
                                })
                            }, 50);
                            layer.alert(e.msg, {icon: 1, time: 1500})
                        } else
                            layer.alert(e.msg, {icon: 2})

                    }
                    ids = []
                    for (var index = 0; index < data.length; index++) {
                        ids.splice(0, 0, data[index]['id'])
                    }
                    _post('/manager/delvar/', {'ids': ids.join()}, success)
                },
            })
        });

//新增功能
        $("#addbtn").click(function () {
            has_select = 0;
            //初始化联想信息
            success = function (d) {
                data = JSON.parse(d);
                $("#dblist").empty();
                for (var index = 0; index < data.data.length; index++) {
                    d = data.data[index]['name'];
                    d = d.length > 15 ? d.substr(0, 15) + '...' : d;
                    $("#dblist").append("<li index='" + index + "' class=''>" + d + "</li>")
                }
                $("#dblist li").each(function () {
                    $(this).click(function () {
                        $('#gain').val($('#gain').val() + $(this).text());
                        $("#dblist").hide()
                    });
                });
                add_var_prop_smart_input('gain');
                $(document).keydown(function (e) {
                        var flag
                        var len = $('#gain').val().length
                        var last_word = $('#gain').val().charAt(len - 1)
                        if (e.keyCode == 13 && last_word == '@') {
                            cur = $("#dblist .active").text();
                            $('#gain').val($('#gain').val() + cur);
                            var e = jQuery.Event("keydown"); //模拟一个键盘事件
                            e.keyCode = 8;
                            e.which = 8;  //增加设置which
                            $('#gain').trigger(e); //模拟按键
                            has_select = 1;
                            return;
                        } else if (e.keyCode == 38) {
                            flag = -1
                        } else if (e.keyCode == 40) {
                            flag = 1
                        } else
                            return
                        optionsize = $("#dblist li").length

                        if ($("#dblist").css('display') == 'block') {
                            cur_active = $('#dblist .active')
                            if (cur_active.length == 0) {
                                $("#dblist li:eq(0)").addClass('active')
                                // layui.form.render('ul','addhtml')
                            } else {
                                index = parseInt(cur_active.attr('index'))
                                index = index + flag
                                if (index > optionsize - 1)
                                    index = 0
                                if (index < 0)
                                    inde = optionsize - 1
                                cur_active.removeClass('active')
                                $("#dblist li:eq(" + index + ")").addClass('active')
                            }
                        }
                    }
                );
            };
            _post('/manager/querydblist/', {type: 'onlydes'}, success);
            var o = layer.open(
                {
                    title: '变量管理 / 新增',
                    type: 1,
                    // area:["350px","350px"],
                    content: $('#addhtml'),
                    zIndex: 1000,
                    btn: ['提交', '取消'],
                    yes: function (index, layero) {
                        var tag = '';
                        app.tagform.tags.forEach(function (item, index) {
                            if (item.value != '') {
                                tag += item.value + ';'
                            }
                        });
                        var bindplans = {};
                        app.$refs['bindplanslabel'].getCheckedNodes().forEach(function (item, index) {
                            if (item['level'] == 2) {
                                bindplans[item['label']] = [item['parent']['value'], item['value']]
                            }
                        });
                        success = function (e) {
                            e = JSON.parse(e)
                            if (e.code == 0) {
                                layer.close(index)
                                app.querytaglist(0);
                                $('#addhtml')[0].reset()
                                layui.form.render()
                                layer.alert(e.msg, {icon: 1});
                                setTimeout(function () {
                                    table.reload('table-var', {
                                        page: {
                                            curr: 1
                                        },
                                        where: {
                                            searchvalue: $("#search-value").val(),
                                            userid: $("[name='user']").val(),
                                            tags: app.form.tagvalue
                                        }
                                    })
                                }, 50)
                            } else
                                layer.alert(e.msg, {icon: 2})
                        };
                        data = {
                            'key': $("[name='key']").val(),
                            'value': $("[name='value']").val(),
                            'description': $("[name='description']").val(),
                            'gain': $("[name='gain']").val(),
                            'is_cache': $("[name='is_cache']").val(),
                            'tag': tag,
                            'bindplans': JSON.stringify(bindplans)
                        };
                        _post("/manager/addvariable/", data, success)
                    },
                    btn2: function (index, layero) {
                    },
                    end: function () {
                        app.wantTag = '';
                        app.bindplans = []
                        app.tagform.tags = []
                        app.tagform.tags.push({
                            value: '',
                            key: Date.now()
                        });
                    }
                });
            layer.full(o);
        });

//tool事件
        table.on("tool(target)", function (e) {
            id = e.data['id']
            if (e.event == 'edit') {
                app.tagform.tags = [];
                success = function (data) {
                    if (data.code == 0) {
                        description = data.data['description']
                        key = data.data['key']
                        gain = data.data['gain']
                        value = data.data['value'];
                        is_cache = data.data['is_cache'];
                        $("[name='description']").val(description);
                        $("[name='key']").val(key);
                        $("[name='value']").val(value);
                        $("[name='gain']").val(gain);
                        $("[name='is_cache']").val(is_cache);
                        //处理标签
                        tags = data.tags['customize'];
                        tags = tags.split(';');
                        tags.pop();
                        str = '';
                        tags.forEach(function (item, index) {
                            str += '<span class="layui-badge">' + item + '</span>&nbsp&nbsp&nbsp&nbsp'
                            app.tagform.tags.push({
                                value: item,
                                key: Date.now() + Math.random()
                            });
                        });
                        var ids = new Array();
                        var length = data.tags['ids'].length;
                        for (var i = 0; i < length; i++) {
                            ids[i] = new Array();
                            for (var j = 0; j < 2; j++) {
                                ids[i][j] = data.tags['ids'][i][j];
                            }
                        }
                        setTimeout(() => app.bindplans = ids, 5);
                        app.wantTag = str;

                        //打开表单
                        var o = layer.open({
                            type: 1,
                            title: '变量管理 / 编辑',
                            content: $('#addhtml'),
                            btn: ['提交', '取消'],
                            zIndex: 1000,
                            yes: function (index, layero) {
                                tagedit = ''
                                app.tagform.tags.forEach(function (item, index) {
                                    tagedit += item.value + ';'
                                });
                                var bindplans = {};
                                app.$refs['bindplanslabel'].getCheckedNodes().forEach(function (item, index) {
                                    if (item['level'] == 2) {
                                        bindplans[item['label']] = [item['parent']['value'], item['value']]
                                    }
                                });
                                success = function (e) {
                                    // alert(e)
                                    layui.form.render()
                                    e = JSON.parse(e)
                                    if (e.code == 0) {
                                        app.querytaglist(0)
                                        layer.close(index)
                                        $('#addhtml')[0].reset()
                                        layer.alert(e.msg, {icon: 1, time: 1500})
                                        table.reload('table-var', {
                                            page: {
                                                curr: 1
                                            },
                                            where: {
                                                searchvalue: $("#search-value").val(),
                                                userid: $("[name='user']").val(),
                                                tags: app.form.tagvalue
                                            }
                                        });
                                    } else
                                        layer.alert(e.msg, {icon: 2})

                                };
                                _post('/manager/editvariable/', {
                                    'id': id,
                                    'description': $("[name='description']").val(),
                                    'key': $("[name='key']").val(),
                                    'gain': $("[name='gain']").val(),
                                    'value': $("[name='value']").val(),
                                    'is_cache': $("[name='is_cache']").val(),
                                    'tag': tagedit,
                                    'bindplans': JSON.stringify(bindplans)
                                }, success)

                            },
                            end: function () {
                                app.wantTag = '';
                                app.tagform.tags = [{
                                    value: '',
                                    key: Date.now() + Math.random()
                                }];
                                app.bindplans = [];
                                $('#addhtml')[0].reset()
                            }
                        });
                        layer.full(o);
                    } else {
                        layer.msg(data.msg)
                    }
                };
                _post_nl('/manager/queryonevar/', {id: id}, success)


            } else if (e.event == 'detail') {

            }

        });
    });

    function tagSpanClick(e) {
        v = $(e).text();
        app.tagvalues.forEach(function (item, index) {
            if (v == item.name) {
                app.form.tagvalue = [item.id];
                $("#querybtn").click()
            }
        });
    }

    function planSpanClick(e) {
        id = $(e).attr('id')
        $("[name='allplan']").val(id)
        layui.form.render('select')
        $("#querybtn").click()
    }

</script>

<script type="text/html" id="toolbar">


    <i class="layui-icon edit" lay-event="edit">编辑</i>


</script>
</html>
