@charset "UTF-8";
/**
 * 
 * @authors Blackstone (you@example.org)
 * @date    2019-08-28 09:34:31
 * @version $Id$
 */
body {
  height: 100%;
  background-image: url('../image/bg.jpg');
}
.form-step{
  width: 100%;
  max-width: 600px;
  padding: 15px;
  margin: 0 auto;
}
.form-group {
  margin-bottom: 1px;
}
form a{
  display: inline-block;
  margin-top:25px;
  line-height: 10px;
}