
{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'manager/layui/css/layui.css' %}">

    <title>计划管理</title>
    <style type="text/css">
      .layui-icon:hover{
        cursor: pointer;

      }
      .icon-tool{
        float: right;

      }
      .icon-tool-item:hover{
        cursor: pointer;
      }
      .icon-tool-item{
        margin-left: 5px;
      }

      #case-selected p{
        height: 30px;
        padding: 0;
       /* text-overflow: ellipsis;*/
   /*     max-width:200px;*/
      }
      #can-select p:hover{
        background-color: #009688;
        color: white;

      }
      #is-selected p:hover{
        background-color: #009688;
        color:white;

      }
      .func_btn{

        font-size: 10px;
        margin:5px;
      }
      .func_btn:hover{

        cursor: pointer;
        color:#009688;
        font-weight:10px;
      }
      .func_btn_bar{
        
/*        background-color: red;*/
      }

    </style>

</head>
<body>
<div class="layui-inline"> 
	<div class="layui-input-inline"><input id='search-value' type="text" name="" placeholder="名称|键|值" class="layui-input"></div>
	<button class="layui-btn " id='querybtn'>查询</button>
  <button class="layui-btn " id='addbtn'>新增</button>
  <button class="layui-btn " id='addcasebtn'>添加用例</button>
  <button type="button" class="layui-btn" id="upload"><i class="layui-icon">&#xe67c;</i>选择文件</button>
  <button class="layui-btn " id='runcasebtn'>运行</button>
       
  <button class="layui-btn layui-btn-danger" id='delbtn'>删除</button>

</div>

<table id='table-plan' class="layui-table" lay-data="{height:400, cellMinWidth: 80, page: true, limit:10, url:'{{BASE_URL}}/manager/queryplan/?username=tester'}" lay-filter='target'>
  <thead>
    <tr>
      <th lay-data="{type:'checkbox'}"></th>
      <th lay-data="{field: 'id',width:80,hide:true}">ID</th>
      <th lay-data="{field: 'description',width:160, sort: true}">名称</th>
<!--       <th lay-data="{field: 'is_send_mail',width:160, sort: true}">testafa</th> -->
      <th lay-data="{field: 'last',width:160, sort: true,hide:true}">Last</th>
      <th lay-data="{field: 'run_type',width:160, sort: true}">运行方式</th>
<!--       <th lay-data="{field: 'run_value',width:160, sort: true}">运行配置</th> -->
      <th lay-data="{field: 'createtime', width:160,sort:true}">创建时间</th>
      <th lay-data="{field: 'updatetime', width:160}">更改时间</th>
      <th lay-data="{fixed: 'right',align:'center', toolbar: '#toolbar'}">操作</th>
      <th lay-data="{fixed: 'right',align:'center', toolbar: '#toolbar_mail'}">邮箱</th>
      <th lay-data="{fixed: 'right',align:'center', toolbar: '#toolbar_timing'}">定时</th>
 
    </tr>
  </thead>
</table>

<div id='selecttaskid' class="layui-form" style="padding-top: 10px;padding-bottom:50px;padding-right:20px;" hidden>
  <label class="layui-form-label">任务</label>
  <div id='taskids' class="layui-input-block" style="max-height:100px;">
    <p><input type="radio" name="taskid" value="taskid_1" title="taskid_1"  lay-filter='' checked ></p>
    <p><input type="radio" name="taskid" value="taskid_2" title="taskid_2"  lay-filter=''></p>
  </div>

</div>

<form id='mailconfig' hidden class="layui-form" style="padding: 10px;">
  <div class="layui-form-item">
    <label class="layui-form-label">配色方案</label>
    <div class="layui-input-block">
      <select name="color_scheme" lay-verify="">
        <option value="">请选择</option>
        <option value="blue">blue</option>
        <option value="red">red</option>

<!--         <option value="db2">db2</option> -->
      </select> 
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">收件人</label>
    <div class="layui-input-block">
      <input type="text" class="layui-input" name="to_receive" value="" title="" checked lay-filter=''>
     
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">抄送</label>
    <div class="layui-input-block">
      <input type="text" class="layui-input" name="cc_receive" value="" title="" checked lay-filter='e'>
      
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">标题</label>
    <div class="layui-input-block">
      <input type="text" class="layui-input" name="description" value='' title="" checked lay-filter=''>
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">富文本</label>
    <div class="layui-input-block">
      <textarea type="text" class="layui-textarea" id='rich_text' name="rich_text" value="" title="" checked lay-filter=''>
      </textarea>
      
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">smtp主机</label>
    <div class="layui-input-block">
      <input type="text" class="layui-input" name="smtp_host" value='' title="" checked lay-filter=''>
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">smtp端口</label>
    <div class="layui-input-block">
      <input type="text" class="layui-input" name="smtp_port" value='' title="" checked lay-filter=''>
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">发送账号</label>
    <div class="layui-input-block">
      <input type="text" class="layui-input" name="sender_name" value='' title="" checked lay-filter=''>
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">发送昵称</label>
    <div class="layui-input-block">
      <input type="text" class="layui-input" name="sender_nick" value='' title="" checked lay-filter=''>
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">发送密码</label>
    <div class="layui-input-block">
      <input type="text" class="layui-input" name="sender_pass" value='' title="" checked lay-filter=''>
    </div>
  </div>
<!--   <div class="layui-form-item">
    <label class="layui-form-label">应用</label>
    <div class="layui-input-block">
      <input type="checkbox"  class="" name="apply" lay-skin="switch" lay-text="ON|OFF">
    </div>
  </div> -->
</form>
<form id='addhtml' hidden=true class="layui-form" style="padding: 10px;">
  <div class="layui-form-item">
    <label class="layui-form-label">DB选择</label>
      <div class="layui-input-block">
      <select name="db_id" lay-verify="">
      
      </select></div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">类型</label>
    <div class="layui-input-block">
      <input type="radio" name="method" value="手动运行" title="手动" checked lay-filter='run_type'>
      <input type="radio" name="method" value='定时运行' title="定时" lay-filter='run_type'>
    </div>
  </div>

  <div class="layui-form-item">
    <label class="layui-form-label">计划名称</label>
    <div class="layui-input-block">
      <input type="text" name="description_1" placeholder="请输入" autocomplete="off" class="layui-input">
    </div>
  </div>

  <div class="layui-form-item" id='config-set' hidden>
    <label class="layui-form-label">定时配置</label>
    <div class="layui-input-block">
      <textarea type="text" name="config" placeholder="{'year':'','month':'','day':'','hour':'','minute':'','second':''}" autocomplete="off" class="layui-textarea"></textarea> 
    </div>
  </div>
</form>

<!-- <div id='edithtml' hidden=true class="layui-form" style="padding:10px;">
  <div class="layui-form-item">
    <label class="layui-form-label">类型</label>
    <div class="layui-input-block">
      <input type="radio" name="run_type" value="手动运行" title="手动运行">
      <input type="radio" name="run_type" value="定时运行" title="定时运行" checked>
    </div>
  </div>
  <div class="layui-form-item" id='config'>
    <label class="layui-form-label">配置</label>
    <div class="layui-input-block">
      <textarea placeholder="{'year':'','month':'','day':'','hour':'','minute':'','second':''}" class="layui-textarea"></textarea>
    </div>
  </div>
</div> -->


<div id='addcase' class="layui-row layui-bg-gray" style="height:100%;padding:10px;" hidden>
  <div class="layui-card layui-col-md5" id='can-select'>
    <div class="layui-card-header">可选用例
        <div class="layui-inline"><input id='searchvalue' type="text"  class='layui-input' name="" placeholder="用例名称"></div>
        </div>
        <div class="layui-inline">
          <div class='func_btn_bar'>          
<!--             <span id='addall' class='func_btn'>全部添加</span>
            <span id='addsome' class='func_btn'>批量添加</span> -->
        </div>
        </div>

      <div style="overflow:auto;height: 300px;width:95%;">
      <div class="layui-card-body">
         
      </div>
      </div>
    

  </div>

  <div class="layui-card layui-col-md-offset1 layui-col-md6" id="is-selected">
    <div class="layui-card-header">已选
      <div class="layui-inline"><input id="searchvalue1" type="text"  class='layui-input' name="" placeholder="用例名称"></div></div>

      <div class="layui-inline">
        <div class="func_btn_bar">
<!--           <span class='func_btn' id='delsome'>批量移除</span>
          <span class='func_btn' id='delall'>全部移除</span>
          <span class='func_btn' id='swap'>交换位置</span> -->
        </div>
      </div>
    <div style="overflow:auto;height: 300px;width:95%;">
      <div class="layui-card-body" id="case-selected">


      </div>
    </div>

  </div>
</div>
</body>

<script src="{% static 'manager/js/jquery.min.js' %}"></script>
<script src="{% static 'manager/layui/layui.js' %}"></script>
<script src="{% static 'manager/js/utils.js' %}"></script>
<script src="{% static 'manager/js/plan.js' %}"></script>

<script type="text/javascript">

_load_db_dropdownlist()

function copyText(text, callback){ // text: 要复制的内容， callback: 回调
    var tag = document.createElement('input');
    tag.setAttribute('id', 'cp_hgz_input');
    tag.value = text;
    document.getElementsByTagName('body')[0].appendChild(tag);
    document.getElementById('cp_hgz_input').select();
    document.execCommand('copy');
    document.getElementById('cp_hgz_input').remove();
    if(callback) {callback(text)}
}



layui.use(['table','layer','layedit','upload'], function(){
  var table = layui.table;
  var $=layui.jquery
  var layer=layui.layer;
  var form = layui.form;
  var layedit = layui.layedit;
  var le=layedit.build('rich_text'); //建立编辑器
  var upload=layui.upload;

//执行上传操作
var uploadInst = upload.render({
    elem: '#upload' //绑定元素
    ,url: '/manager/transform/' //上传接口
    ,method: 'POST'
    ,accept: 'file'
    ,multiple:true

    // ,size: 50
    ,before: function(obj){
        layer.load();
        this.tag=Date.parse(new Date())
    }
    ,done: function(res){//上传完毕回调
        layer.closeAll('loading');
        // res=JSON.parse(res)
        // alert(res)
        if(res.code==0){
          layer.alert(res.msg,{icon:1,time:1000});
        }else{
          layer.alert(res.msg,{icon:2})
        }
    

    }
    ,error: function(){//请求异常回调
        layer.closeAll('loading');
        layer.msg('转换异常 请检查网络!');
    }
});





//
  form.on('switch(mail)',function(e){
    var checked = e.elem.checked;
    planid=e.elem.id
    set=undefined
    if(checked==true)
      set='open'
    else
      set='close'

    success=function(e){
      e=JSON.parse(e)
      if(e.code==0)
        layer.alert(e.msg,{icon:1})
      else
        layer.alert(e.msg,{icon:2})

    }
    _post('/manager/mailcontrl/',{'planid':planid,'is_send_mail':set},success);

  });


  form.on('radio(run_type)', function (data) {
    //v=$("[name='step_type']").val()
    v=data.value
     //alert(v)
    // alert(data.value)
    console.log("选择"+v)
    if(v=='手动运行'){
      // alert(1)
    $("#config-set").hide()

   }else{
   // alert($("[name='config']"))
    $("#config-set").show()

   }

})

//运行用例
$("#runcasebtn").click(function(){
  var checkStatus = table.checkStatus("table-plan");
  data = checkStatus.data; //获取选中的数据

  if(data.length==0){

    layer.alert('你有选择计划么',{icon:3,time:1000})
    return
  }

  var planids= new Array()
  for(var index=0;index<data.length;index++){
    planids[index]=data[index]['id']

  }

  success=function(e){
    console.log((e))
    datao=JSON.parse(e)
    taskid=datao['taskid']
    layer.alert("你已提交["+data.length+"]条数据 任务ID为"+taskid,{icon:1})
  }

  _post('/manager/runplan',{ids:planids.join(",")},success)


});

//添加用例
$("#addcasebtn").click(function(){

  var checkStatus = table.checkStatus("table-plan");
  data = checkStatus.data; //获取选中的数据
  if(data.length!=1){
    layer.alert('请选择一条数据!',{icon:2,time:1000});
    return;
  }
  bindsearch();
  bindselect(data[0]['id']);
  bindselected(data[0]['id']);
  var o=layer.open(
    {
      title:'添加用例',
      type:1,
      content:$('#addcase'),
      btn:['OK',],
      area:["900px","450px"],

      yes: function(index, layero){
        //按钮【按钮一】的回调
       // console.log('yes')
       layer.close(index);
      },
      // btn2: function(index, layero){
      //   //按钮【按钮二】的回调
      //   //return false 开启该代码可禁止点击该按钮关闭
      //   console.log('no')
      // },


  });

  // layer.full(o);


});
//查询功能
  $("#querybtn").click(function(e){

    console.log('query var');
    table.reload('table-plan',{
      page:{
        curr:1
      },
      where:{
        searchvalue:$("#search-value").val()

      }

    });

    
  });

//删除功能
  $("#delbtn").click(function(e){

    var checkStatus = table.checkStatus("table-plan");
    data = checkStatus.data;
    ids=[]
    if(data.length<1)
    {
      layer.alert('你有选择计划么',{icon:3,time:1500})
      return
    }
    else{
      for(var index=0;index<data.length;index++){
        //alert(data[index]['id'])
        ids.splice(0,0,data[index]['id'])

      }
    }

    layer.confirm('确认删除么?',function(index){

      success=function(e){
        table.reload('table-plan',{
          page:{
            curr:1
          },
          where:{
            searchvalue:$("#search-value").val()

          }

        });
        e=JSON.parse(e)
        if(e.code==0){
          layer.alert(e.msg,{icon:1,time:1500})
        }else{
          layer.alert(e.msg,{icon:2})
        }

      }
      layer.close(index);

      _post('/manager/delplan/',{'ids':ids.join()},success)
   

    })

  });

//新增功能

  $("#addbtn").click(function(e){

    $("#addhtml")[0].reset()
    layui.form.render()
    var o=layer.open(
      {
        title:'新增计划',
        type:1,
        content:$('#addhtml'),
        btn:['提交','取消'],

        yes: function(index, layero){
          //按钮【按钮一】的回调
          //console.log('yes')
          layer.close(index)
          success=function(e){

            table.reload('table-plan',{
              page:{
                curr:1
              },
              where:{
                searchvalue:$("#search-value").val()

              }

            });
            e=JSON.parse(e)
            if(e.code==0)
              layer.alert(e.msg,{icon:1})
            else
              layer.alert(e.msg,{icon:2})

          }
          data={
          'description':$("[name='description_1']").val(),
          'run_type':$("[name='method']:checked").val(),
          'config':$("[name='config']").val(),
          'dbid':$("[name='db_id']").val()
          }
          _post('/manager/addplan/',data,success)
        },
        btn2: function(index, layero){
          //按钮【按钮二】的回调
          //return false 开启该代码可禁止点击该按钮关闭
          console.log('no')
        },


    });

    layer.full(o);

  });

//tool事件
  table.on("tool(target)",function(e){
  
  id=e.data['id']
    if(e.event=='link'){
      copyText(e.data['invoke_url'], function (){
        layer.alert('复制三方调用地址到剪切板',{icon:1,time:1000})
      })

    }
    
    else if(e.event=='edit'){

      $("#addhtml")[0].reset()
      layui.form.render()

      success=function(data){

       //设置默认项
           data=data.data[0]
            //设置addhtml
            run_type=data['run_type']
            description=data['description']
            dbid=data['db_id']

            $("[name='db_id']").val(dbid)
            layui.form.render('select')
            //alert(description)

            //alert(run_type)

            $("[value='"+run_type+"']").attr('checked','checked')
            layui.form.render('radio');

            if('定时运行'==run_type){
              $("#config-set").show()
            }else
            {
              $("#config-set").hide()
            }

            // alert(description)
            $("[name='description_1']").val(description)

            //打开表单

            layer.open({
              type:1,
              title:'编辑计划',
              content:$('#addhtml'),
              btn:['提交','取消'],
              yes:function(index,layero){

                layer.close(index)

                success=function(e){
                  table.reload('table-plan',{
                    page:{
                      curr:1
                    },
                    where:{
                      searchvalue:$("#search-value").val()

                    }

                  });

                  e=JSON.parse(e)
                  if(e.code==0)
                    layer.alert(e.msg,{icon:1,time:1500})
                  else
                    layer.alert(e.msg,{icon:2})

                }
                _post('/manager/editplan/',{
                  'id':id,
                  'run_type':$("[name='method']:checked").val(),
                  'description':$("[name='description_1']").val(),
                  'dbid':$("[name='db_id']").val()
        
                },success)

              }

            });

 

      }
      _post('/manager/queryoneplan/',{id:id},success)




    }else if(e.event=='detail'){

    }else if(e.event=='history'){

      //alert("click history")
      success=function(e){
        e=JSON.parse(e)
        //alert(e.data)
        if(e.code==0){

          //taskids初始化
          for(var index=0;index<e.data.length;index++){
            console.log(e.data[index])
           // option="<option value='"+e.data[index]+"'>"+e.data[index]+"</option>";
            option="<p><input type='radio' title='"+e.data[index]+"' value='"+e.data[index]+"'>"+e.data[index]+"</input></p>"
            // <option value="">请选择</option>
            $("#taskids").append(option)
            //alert($('#taskchoice').html())
          }
          //加载taskid弹窗
          layer.open(
              {
                title:'选择任务',
                type:1,
                content:$('#selecttaskid'),
                btn:['OK','取消'],

                yes: function(index, layero){
                  //按钮【按钮一】的回调
                  // console.log('yes')
                  layer.close(index)
                  // alert(JSON.stringify(layero))
                  taskid=$("[name='taskid']").val()
                 // alert(taskid)
                  detail=layer.open(
                    {
                      // title:'运行明细',
                      type:2,
                      content:'/manager/querytaskdetail/?taskid='+taskid,
                      btn:['OK'],

                      yes: function(index, layero){
                        //按钮【按钮一】的回调
                        layer.close(index)
                      }


                  });
                  layer.full(detail)
                }
            });


        }else{
          layer.alert(e.msg,{icon:2});

        }

      }
      _post('/manager/queryplantaskid/',{'planid':1},success);
 

    }else if(e.event=='editmail'){

      $("#mailconfig")[0].reset()
      layui.form.render()


      //查配置返回0 新建 1编辑

      success=function(ee){
        //e=JSON.parse(e)

        op=''
        if(typeof(ee)!='string'){
          if(ee.code==0){
            //赋值form
            op='编辑'

            console.log(ee.data)

            $("[name='color_scheme']").val(ee.data['color_scheme'])
            layui.form.render('select');

            $("[name='description']").val(ee.data['description'])
            $("[name='rich_text']").val(ee.data['rich_text'])
            $("[name='to_receive']").val(ee.data['to_receive'])
            $("[name='cc_receive']").val(ee.data['cc_receive'])
            $("[name='sender_name']").val(ee.data['sender_name'])
            $("[name='sender_nick']").val(ee.data['sender_nick'])
            $("[name='sender_pass']").val(ee.data['sender_pass'])
            $("[name='smtp_host']").val(ee.data['smtp_host'])
            $("[name='smtp_port']").val(ee.data['smtp_port'])
            //alert(ee.data['is_send_mail'])

            // if(ee.data['is_send_mail']=='open'){
            //   $("[name='apply']").attr('checked',true)
            // }
            // else{
            //   $("[name='apply']").attr('checked',false)
            // }
            // layui.form.render('checkbox')

            // layui.form.render('switch');

          }

        }else{
          ee=JSON.parse(ee)
          if(ee.code==1){
            op='新建'
            console.log('还未关联邮件 新建一个')
          }
        }



        var o=layer.open({
          title:op+'邮件配置',
          type:1,
          area: ['700px', '500px'], 
          content:$('#mailconfig'),
          btn:['确定','取消'],
          yes:function(index,layero){

            layer.close(index)
            success=function(data){
              data=JSON.parse(data)
              if(data.code==0)
                layer.alert(data.msg,{icon:1,time:1500})
              else
                layer.alert(data.msg,{icon:2})

            }

            _post("/manager/editmailconfig/",{
              id:id,
              color_scheme:$("[name='color_scheme']").val(),
              description:$("[name='description']").val(),
             // rich_text:$("[name='rich_text']").val(),
              rich_text:layedit.getContent(le),
              to_receive:$("[name='to_receive']").val(),
              cc_receive:$("[name='cc_receive']").val(),

              sender_name:$("[name='sender_name']").val(),
              sender_nick:$("[name='sender_nick']").val(),
              sender_pass:$("[name='sender_pass']").val(),
              smtp_port:$("[name='smtp_port']").val(),
              smtp_host:$("[name='smtp_host']").val(),
              // is_send_mail:$("[name=apply]").attr('checked')==false?'close':'open',


            },success)

          }
        });
        layer.full(o);




      }

      _post('/manager/queryonemailconfig/',{id:id},success)



    }

  });




  
  
});

// $(document).ready(function(){

// });


</script>

<script type="text/html" id="toolbar">
{% verbatim %} 
  <i class="layui-icon layui-icon-form" lay-event='detail' style="color:#c2c2c2;"></i>
  <i class="layui-icon layui-icon-edit" lay-event='edit' style="color:#c2c2c2;"></i>
  <i class="layui-icon layui-icon-link" lay-event='link' style="color:#c2c2c2;" title="{{d.invoke_url}}"></i>


{{# if (d.last=='success') { }}
  <a class="layui-btn layui-btn-xs layui-bg-green" lay-event='history'>历史</a>
{{# } else if(d.last=='fail'){ }}
  <a class="layui-btn layui-btn-xs layui-bg-red" lay-event='history'>历史</a>

{{# }else if(d.last==''){}}
  <a class="layui-btn layui-btn-xs layui-bg-gray" lay-event='history'>历史</a>
{{#} }}

{% endverbatim %}
</script>

<script type="text/html" id="toolbar_mail">
{% verbatim %} 
  <i class="layui-icon layui-icon-edit" lay-event='editmail'></i>
  {{# if (d.is_send_mail=='close') { }}
  <input type="checkbox" name="mail-control" lay-skin="switch" lay-text="ON|OFF" lay-filter='mail' id='
  {{d.id}}'>
  {{#}else if(d.is_send_mail=='open'){ }}
  <input type="checkbox" name="mail-control" lay-skin="switch" lay-text="ON|OFF" lay-filter='mail' id='
  {{d.id}}' checked>
  {{# }else if(d.is_send_mail=='disabled'){ }}
  <input type="checkbox" name="mail-control" lay-skin="switch" lay-text="ON|OFF" lay-filter='mail' id='
  {{d.id}}' disabled="">
  {{# } }}
{% endverbatim %}
</script>

<script type="text/html" id="toolbar_timing">
{% verbatim %}
  {{# if (d.run_type=='定时运行') { }}
  <input type="checkbox" name="task-control" lay-skin="switch" lay-text="ON|OFF">
  {{#}else{ }}
  <input type="checkbox" name="task-control" lay-skin="switch" lay-text="ON|OFF" disabled>
  {{#} }}


{% endverbatim %}
</script>
</html>
