<div id='web'  class='col-md-8'>
  <iframe src="http://ats.fingard.com:6065/" style="width:800px;height:500px;"></iframe>
</div>
<div id='interface-list' class='col-md-2'  class='list-group'></div>
<div  class='col-md-2'>
  
  <form>
    <input type="text" name="name" placeholder="描述" id='interface-description'>
    <input type="text" name="" placeholder="执行顺序"id='run-order'>
    <input type="text" name="url" placeholder="接口地址" id='interface-url'>
    <input type="text" name="" placeholder="请求头" id='interface-header'>
    <input type="text" name="" placeholder="body" id='interface-body'>
    <input type="text" name="" placeholder="db检查" id='db-check'>
    <input type="text" name="" placeholder="接口检查" id='interface-check'>
    <div>
      <button type='submit' class='btn-primary'>save</button>
    </div>


  </form>
</div>


