.box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 379px;
    height: 434px;
    background: rgba(255, 255, 255, 1);
    border-radius: 4px;
    border: 1px solid rgba(233, 233, 233, 1);

}

.boxtext {
    font-size: 19px;
    font-family: PingFang-SC-Regular, PingFang-SC;
    font-weight: 400;
    color: rgba(51, 51, 51, 1);
    line-height: 27px;
    text-align: center;
    padding-top: 16px
}

img{
    vertical-align:middle;
    margin-left: 19px;
}

.userName, .userPwd {
    width: 304px;
    height: 38px;
    background: rgba(255, 255, 255, 1);
    border-radius: 4px;
    border: 1px solid rgba(217, 217, 217, 1);
    margin: 20px 38px
}

.userName input, .userPwd input,.input_text{
	border: none !important;
	line-height: 38px;
	height: 38px;
	padding: 0 10px;
	width: 230px;
	outline: none;
    vertical-align:middle
}
.login_btn {
    margin: 9px 38px;
    font-family: PingFang-SC-Regular, PingFang-SC;
    font-size: 15px;
    border: none;
    color: rgba(255, 255, 255, 1);
    width: 304px;
    height: 38px;
    background: rgba(0, 151, 136, 1);
    border-radius: 4px;
    cursor:pointer
}


.box #message {
    position: relative;
    top: 15px;
    color: red;
    font-size: 13px;
    text-align: center;
}

