@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?ffcmft');
  src:  url('fonts/icomoon.eot?ffcmft#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?ffcmft') format('truetype'),
    url('fonts/icomoon.woff?ffcmft') format('woff'),
    url('fonts/icomoon.svg?ffcmft#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fa-bug:before {
  content: "\e900";
  color: #009788;
}
.icon-fa-cog:before {
  content: "\e901";
  color: #009788;
}
.icon-fa-file-o:before {
  content: "\e907";
  color: #fa7a63;



}
.icon-fa-folder-open:before {
  content: "\e903";
  color: #4ab8f2;
}
.icon-fa-folder:before {
  content: "\e903";
  color: #4ab8f2;
}
.icon-fa-hand-o-left:before {
  content: "\e904";
  color: #009788;
}
.icon-fa-hand-o-right:before {
  content: "\e905";
  color: #009788;
}
.icon-fa-home:before {
  content: "\e906";
  color: #009788;
}
.icon-fa-leaf:before {
  content: "\e902";
  color: #b7e078;
}
.icon-fa-pencil-square-o:before {
  content: "\e908";
  color: #009788;
}
.icon-fa-play-circle:before {
  content: "\e909";
  color: #009788;
}
.icon-fa-plus-circle:before {
  content: "\e90a";
  color: #009788;
}
.icon-fa-product-hunt:before {
  content: "\e90b";
  color: #fdae39;
}
.icon-fa-trash:before {
  content: "\e90c";
  color: #009788;
}
