.bck-node {
    margin-left: 20px;
}


.bck-node-url:hover {
    cursor: pointer;
}

.fa-home {

    margin-right: 5px;
}

#grab-info {
    color: #009688;
}

#grab-info-content {
    border-radius: 5px;
    height: 500px;
    right: 20px;
}

#grab-msg::-webkit-scrollbar {
    display: none;
}

#grab-params {
    position: fixed;
    max-width: 300px;
    z-index: 20001;
    /*bottom: 40px;*/
    /*right: 50px;*/
    border: 0px solid red;
    background-color: #009688;
    border-radius: 5px;
}

#grab-params thead, tbody {
    padding: 5px;
    font-size: 12px;
    color: #F0F0F0;
}

#grab-params td {
    height: 20px;
    line-height: 20px;
    padding: 5px;
    max-width: 200px;
    min-width: 100px;
    width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border: 1px solid #F0F0F0;

}

#grab-params td:hover {
    overflow: auto;
    text-overflow: clip;
    white-space: normal;
}

host {
    color: #009688;
    font-weight: bold;

}

.bck-node-host:hover {
    cursor: text;
}

.bck-node-url {
    color: #009688;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    max-width: 300px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.bck-node-url:hover {
    background-color: #009688;
    color: #F0F0F0;
}
.alias{
    min-width:15px;
    color:#FFB800;
    margin-left: 5px;
    font-weight: bold;
    display: inline;
}
.alias:hover{
    cursor: pointer;
}

.grab-hide {
    display: none;
}
